In [1]:
str1 = '你好,小王'
print(str1[0:3]+"小明")

你好,小明

In [1]:
a='123'
b ='45'
c = a+b
print(c)

12345

In [6]:
a='应收账款'
b='坏账准备'
print(a+b)

应收账款坏账准备

In [18]:
Str2 = '#营业收入为#:500#万元#'

Str2 = str2.replace('#','').replace(' ','')

print(str2)

营业收入为：500万元

In [11]:
a='应收账款'
b='坏账准备'
print(a+b)
print(a*2)
print(a[2])
print(a[-2])  #负索引

print(a[1:3])
print(a[1:])
print(a[:3])
print(a[:])

print("坏账" in b)
print("资金"not in b)
print(a[:])  #正索引提取“收账”
print(a[:])  #负索引提取“收账”

应收账款坏账准备
应收账款应收账款
账
账
收账
收账款
应收账
应收账款
True
True
应收账款
应收账款

In [17]:
str1 = '#营业收入为#：500 #万元#'
str2 = str1.replace('#','').replace(' ','')
print(str2)

营业收入为：500万元

In [1]:
num = "Friday"

print("Today is %s" % num)

Today is Friday

In [2]:
# %占位

print('本年%d月份%s科目发生额是%d元'%(5,'主营业务收入',10000))

本年5月份主营业务收入科目发生额是10000元

In [3]:
# 通过循环语句输出固定格式文本

M = [1,2,3,4,5]
for i in M:
    print('本年%d月份%s科目发生额是%d元'%(i,'银行存款',13000))

本年1月份银行存款科目发生额是13000元
本年2月份银行存款科目发生额是13000元
本年3月份银行存款科目发生额是13000元
本年4月份银行存款科目发生额是13000元
本年5月份银行存款科目发生额是13000元

In [5]:
num="Friday"

print("Today is %s" % num)

Today is Friday

In [10]:
print('本年%d月份%s科目发生额是%d元'%(5,'主营业务收入',10000))

本年5月份主营业务收入科目发生额是10000元

In [7]:
# %占位

print('本年%d月份%s科目发生额是%d元'%(5,'主营业务收入',10000))

本年5月份主营业务收入科目发生额是10000元

In [11]:
# 通过循环语句输出固定格式文本

M = [1,2,3,4,5]
for i in M:
    print('本年%d月份%s科目发生额是%d元'%(i,'银行存款',13000))

本年1月份银行存款科目发生额是13000元
本年2月份银行存款科目发生额是13000元
本年3月份银行存款科目发生额是13000元
本年4月份银行存款科目发生额是13000元
本年5月份银行存款科目发生额是13000元

In [20]:
# 通过循环语句输出固定格式文本

M = [1,2,3,4,5]
account = ['银行存款','其他货币资金','应收票据','应收账款','现金']
amount = [13000,14000,20000,30000,12000]
for i in M:
    print('本年%d月份%s科目发生额是%d元'%(i,account[1],amount[1]))   # ?处如何填写

本年1月份其他货币资金科目发生额是14000元
本年2月份其他货币资金科目发生额是14000元
本年3月份其他货币资金科目发生额是14000元
本年4月份其他货币资金科目发生额是14000元
本年5月份其他货币资金科目发生额是14000元

In [13]:
# 数字格式化
print('本年%d月份%s科目发生额是%.2f元'%(3,'主营业务收入',20000.123))

本年3月份主营业务收入科目发生额是20000.12元

In [14]:
country = "中国"
population = 14

print("{}的总人口为{}亿人 (2019年) ".format(country, population))

中国的总人口为14亿人 (2019年)

In [15]:
# 设置关键字参数
print('{account}科目发生额是{amount}元'.format(account = '销售收入',amount = 100000))

销售收入科目发生额是100000元

In [16]:
# 不设置指定位置，按默认顺序
print('{}科目发生额是{}元'.format('销售收入',100000))

# 设置指定位置，从0开始
print('{1}科目发生额是{0}元'.format(100000,'销售收入'))

# 数字格式化
print('{}科目发生额是{:.2f}元'.format('销售收入',100000.123))

销售收入科目发生额是100000元
销售收入科目发生额是100000元
销售收入科目发生额是100000.12元

In [17]:
#  创建一个列表存储会计科目
account = ['银行存款','其他货币资金','应收票据','应收账款','现金']
print(account)

['银行存款', '其他货币资金', '应收票据', '应收账款', '现金']

In [18]:
#  创建一个列表存储金额
amount = [13000,14000,20000,30000,12000]
print(amount)

# 创建一个空列表 
list3 = []
print(list3)

[13000, 14000, 20000, 30000, 12000]
[]

In [4]:
# 1.4节  字符串格式化练习题，结合循环语句、列表元素的提取

M = [1,2,3,4,5]
account = ['银行存款','其他货币资金','应收票据','应收账款','现金']
amount = [13000,14000,20000,30000,12000]
for i in M:
    print('本年%d月份%s科目发生额是%d元'%(i,account[i-1],amount[i-1]))

本年1月份银行存款科目发生额是13000元
本年2月份其他货币资金科目发生额是14000元
本年3月份应收票据科目发生额是20000元
本年4月份应收账款科目发生额是30000元
本年5月份现金科目发生额是12000元

In [5]:
# 创建列表list1、list2
list1 = [1,2,3,4]
list2 = [5,6,7]

# 拼接
list3 = list1 + list2
print(list3)

# 重复
list4 = list1 * 3
print(list4)

# 获取
list5 = list1[2]
print(list5)

# 截取（切片）
list6 = list1[0:2]
print(list6)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
3
[1, 2]

In [10]:
list1 = [1,2,3,4]
list2 = [5,6,7]

list1.append(666)
print(list1)

list1.insert(1,666)
print(list1)

[1, 2, 3, 4, 666]
[1, 666, 2, 3, 4, 666]

In [13]:
name0 = ['马冬梅','夏洛特','袁华']

name0.pop(1)  # 取到索引为1的元素，并删除

name1=['111','222','333']

name1.pop(1)

'222'

In [14]:
name = ['夏洛特','马冬梅','袁华']

name[0] = '夏洛'

print(name)

['夏洛', '马冬梅', '袁华']

In [15]:
name = ['马冬梅','袁华','夏洛特','袁华','夏洛特']

name.remove('袁华')  # 移除某个元素的第一个匹配项

print(name)

['马冬梅', '夏洛特', '袁华', '夏洛特']

In [10]:
course = ['高等代数','解析几何','数学分析']

course1=course.extend(['语文','统计学'])  # 向后扩展列表

print(course)

['高等代数', '解析几何', '数学分析', '语文', '统计学']

In [7]:
# 创建一个元组，在括号中添加元素，并用逗号隔开 
tup1 = (8,9)
tup2 = (6,7)
tup3 = tup1+tup2
print(tup1)
print(tup2)
print(tup3)

# # 元素的访问
print(tup1[1])

# 创建一个元组，在括号中添加元素，并用逗号隔开 
tup1 = (8,9)
tup2 = (6,7)
tup3 = tup1+tup2
tup4 = (6,)
print(tup1)
print(tup2)
print(tup3)
print(tup4)
# 创建空元组 
tup2 = ()
print(tup2)

# 创建只有一个元素的元组 
tup3 = (1,)   # 此时为包含1个元素1的元组
tup4 = (1)    # 默认为数值1
print(tup3)
print(tup4)

print(type(tup2))
print(type(tup3))
print(type(tup4))

(8, 9)
(6, 7)
(8, 9, 6, 7)
9
(8, 9)
(6, 7)
(8, 9, 6, 7)
(6,)
()
(1,)
1
<class 'tuple'>
<class 'tuple'>
<class 'int'>

In [16]:
# 创建字典
dict1 = {'销售费用':2000,'管理费用':5000,'财务费用':2000}  
dict2 = {'销售费用':2000,'销售费用':5000,'财务费用':2000}
# 字典的键是唯一的，但值可以不唯一 
# 如果键值对中的键重复，最后一个键值对会直接替换前面重复的所有键值对。
print(dict1)
print(dict2)
# 创建字典D
D = {'销售费用':12000,'管理费用':15000}
print(D)
# 访问字典里的值
amount1 = D['管理费用']
print(amount1)
# 修改字典的值
D['管理费用'] = 14000
print(D)
# 添加键值对
D['财务费用'] = 2000
print(D)
# 以列表返回所有键
list1 = D.keys()
print(list1)
# 以列表返回所有值
list2 = D.values()
print(list2)
# 返回所有键值对
list3 = D.items()
print(list3)
# 删除字典
del D
print(D)

{'销售费用': 2000, '管理费用': 5000, '财务费用': 2000}
{'销售费用': 5000, '财务费用': 2000}
{'销售费用': 12000, '管理费用': 15000}
15000
{'销售费用': 12000, '管理费用': 14000}
{'销售费用': 12000, '管理费用': 14000, '财务费用': 2000}
dict_keys(['销售费用', '管理费用', '财务费用'])
dict_values([12000, 14000, 2000])
dict_items([('销售费用', 12000), ('管理费用', 14000), ('财务费用', 2000)])

NameError: name 'D' is not defined

In [18]:
dict={'哪吒':12345676,'孙悟空':12345679,'东海龙王':12345677}
print(dict['哪吒'])
print(dict['孙悟空'])
info={10000:{'name': '哪吒', 'sex': '男', 'tel': 12345676},10001:{'name': '孙悟空','sex':'男', 'tel': 12345679},10002:{'name':'东海龙王','sex':'男','tel':12345677}}
print(info[10001])
dict={'哪吒':12345676,'孙悟空':12345679,'东海龙王':12345677}
dict['哪吒'] = 8888 #替换值
print(dict)
dict={'哪吒':12345676,'孙悟空':12345679,'东海龙王':12345677}
print(dict)
dict={'哪吒':12345676,'孙悟空':12345679,'东海龙王':12345677}
dict['唐曾'] = 6666
print(dict)

12345676
12345679
{'name': '孙悟空', 'sex': '男', 'tel': 12345679}
{'哪吒': 8888, '孙悟空': 12345679, '东海龙王': 12345677}
{'哪吒': 12345676, '孙悟空': 12345679, '东海龙王': 12345677}
{'哪吒': 12345676, '孙悟空': 12345679, '东海龙王': 12345677, '唐曾': 6666}

In [20]:
# 创建一个集合
set1 = {'销售费用','管理费用','管理费用',1000,2000,1000,1000}

# 输出集合 
print(set1)
# 1 创建 创建一个集合
account = {'货币资金','应收票据','应收账款'}

# 2 添加 添加应收票据及应收账款 
account.add('应收票据及应收账款')

print(account)

# 3 删除 分别删除货币资金、应收票据
account.remove('货币资金')  
account.remove('应收票据')

# # 输出集合 
print(account)

{'管理费用', 1000, '销售费用', 2000}
{'货币资金', '应收票据及应收账款', '应收账款', '应收票据'}
{'应收票据及应收账款', '应收账款'}

In [22]:
x = 100

int1 = int(x)
float1 = float(x)
str1 = str(x)

print(int1)
print(float1)
print(str1)

print(type(int1))
print(type(float1))
print(type(str1))
s = (1,2,3,4)

list1 = list(s)

print(list1)
print(type(list1))
d = [('管理费用',1000),('财务费用',2000)]

100
100.0
100
<class 'int'>
<class 'float'>
<class 'str'>
[1, 2, 3, 4]
<class 'list'>

In [1]:
info={10000:{'name': '哪吒', 'sex': '男', 'tel': 12345676},
      10001:{'name': '孙悟空','sex':'男', 'tel': 12345679},
      10002:{'name':'东海龙王','sex':'男','tel':12345677}}

print(info[10000])

{'name': '哪吒', 'sex': '男', 'tel': 12345676}

In [1]:
score = 60
if score>= 60:
    print("及格")
else:
    print("不及格")

及格

In [2]:
score = int(input("请输入您的Python课程期末考试成绩:"))
if score>= 60:
    print("恭喜您，及格啦!")
else:
    print("抱歉,您未及格,请继续努力!")

请输入您的Python课程期末考试成绩:60
恭喜您，及格啦!

In [3]:
income=float(input("请输入收入值:"))
if income> 10000000:
    print("业绩达标")
else:
    print("业绩不达标")

请输入收入值:5000
业绩不达标

In [4]:
# 创建一个变量EVA接收本年经济增加值
EVA=2500000
# if条件判断
if EVA>2000000:
    bonus=EVA*0.15
else:
    bonus=0   
# 打印计算结果
print(bonus)

375000.0

In [8]:
score=int(input("请输入您的Python课程期末考试成绩:"))
if score>=80:
    print("优秀")
elif score >=70:
    print("良好")
elif score >=60:
    print("及格")
else:
    print("不及格")

请输入您的Python课程期末考试成绩:10
不及格

In [9]:
# 创建变量SGR接收本年销售增长率、EVA接收本年经济增加值
SGR= 0.25
EVA = 1500000
# if嵌套
if SGR> 0.2:
    if EVA> 1000000:
        bonus=EVA*0.1
    else:
        bonus=EVA*0.05
else:
    bonus=0
print(bonus)

150000.0

In [11]:
pm = float(input('请输入PM2.5值:'))
if 0 < pm < 35:
    print('空气质量优，尽情享受户外运动吧!')
elif pm < 75:
    print('空气质量良好，适合户外运动.')
else:
    print('空气污染，减少户外运动!')
age = int(input('请输入你的年龄:'))
if age < 13:
    print("儿童")
elif age < 18:
    print("青少年")
elif age < 30:
    print("年轻成人")
elif age < 60:
    print("成年")
elif age >=60:
    print("老年")

请输入PM2.5值:20
空气质量优，尽情享受户外运动吧!
请输入你的年龄:10
儿童

In [5]:
for i in range(1,10,2):
    if i>=6:
        break
    print(i)

1
3
5

In [7]:
courses=["Chinese","Math","English","Physic","Chemsitry"]
for i in range(len(courses)):
    print(i)

0
1
2
3
4

In [4]:
i=0            #初始化表达式:通过初始化表达式初始化一个变量
while i<6:     #条件表达式:用来设置循环执行的条件
    print(i)
    i+=1       #更新表达式:修改初始化变量的值
a=0   #累加值
i=1
while i<=10:
    a=a+i
    i=i+1
print(a)
i=1
num=[]
while i<=200:
    if i%2==0:
        num.append(i)
    i+=1
print(num)
i=0
while i<6:
    print(i)
    i+=1
else:
    print('循环结束')

0
1
2
3
4
5
55
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]
0
1
2
3
4
5
循环结束

In [8]:
i = 0                            # 初始表达式
年初固定资产净值 = 100000        # 第一年年初固定资产净值 = 固定资产原值
result = []                      # 创建空列表存储年折旧额

while i < 8:                    # while循环，最后两年平均分摊，循环次数为8次
    年折旧额 = round(年初固定资产净值 * (2/10),2)       # 年折旧率 = 2/10
    result.append(年折旧额)
    年初固定资产净值 -= 年折旧额  # 年初固定资产净值 = 年初固定资产净值-年折旧额
    i += 1
    
else:
    年折旧额 = round((年初固定资产净值-100000*0.05)/2,2)
    result.append(年折旧额)
    result.append(round(年初固定资产净值-100000*0.05-年折旧额,2))
print("每年折旧额依次为：",result)

每年折旧额依次为： [20000.0, 16000.0, 12800.0, 10240.0, 8192.0, 6553.6, 5242.88, 4194.3, 5888.61, 5888.61]

In [2]:
# 创建变量amortisedCost接收20×1年12月31日摊余成本金额
amortisedCost = 10432700

# 创建一个空列表存储结果
amortisedCostList = []

# for循环
for i in range(4):
    amortisedCost = round(amortisedCost+amortisedCost*0.05-10000000*0.06,2)
    amortisedCostList.append(amortisedCost)
else:
    amortisedCost = 10000000
    amortisedCostList.append(amortisedCost)
    
# 输出结果
print('应付债券20×2年至20×6年的年末摊余成本依次为：',amortisedCostList)

应付债券20×2年至20×6年的年末摊余成本依次为： [10354335.0, 10272051.75, 10185654.34, 10094937.06, 10000000]

In [3]:
account = ['营业收入','营业成本']
amount = [2000,1000]

# zip（）函数打包
zip1=zip(account,amount)
print (zip1)

list1 = list(zip1)
print (list1)

dict1 = dict(list1)
print (dict1)

<zip object at 0x0000000004BBBE00>
[('营业收入', 2000), ('营业成本', 1000)]
{'营业收入': 2000, '营业成本': 1000}

In [7]:
# 创建列表
account = ['营业收入','营业成本','销售费用']
amount = [2000,1000]
# zip对象转换：列表推导式，并输出结果
print([i for i in zip(account,amount)])

[('营业收入', 2000), ('营业成本', 1000)]

In [8]:
# 创建列表
account = ['营业收入','营业成本','销售费用']
amount = [2000,1000]
# zip对象转换: list函数
print (list(zip(account,amount)))

[('营业收入', 2000), ('营业成本', 1000)]

In [9]:
# 创建字典
percentage = {'销售费用':0.1,'管理费用':0.12}
income = {'1月':120000,'2月':155000,'3月':140000}

# for嵌套循环-遍历字典取key
for key1 in percentage:
    for key2 in income:
        cost=percentage[key1]*income[key2]
        print('{}{}预算金额为：{}'.format(key2,key1,cost))

1月销售费用预算金额为：12000.0
2月销售费用预算金额为：15500.0
3月销售费用预算金额为：14000.0
1月管理费用预算金额为：14400.0
2月管理费用预算金额为：18600.0
3月管理费用预算金额为：16800.0

In [1]:
# 创建一个字典income接收1-4月收入
income = {'1月':120000,'2月':155000,'3月':140000,'4月':170000}

# break语句（多用于大于等于情景）
for key in income:
    if income[key] > 150000:
        print(key)
        break

2月

In [6]:
# 创建一个字典income接收1-4月收入
income = {'1月':120000,'2月':155000,'3月':140000,'4月':170000}

# continue语句（多用于小于等于情景）
for key in income:
    if income[key] <= 150000:
        print(key)
        continue

1月
3月

In [25]:
#定义加法公式
def add(a,b):
    return a+b
result= add(3,5)
print(result)

8

In [26]:
#定义乘法公式
def add(a,b):
    return a*2+b
result= add(5,5)
print(result)

15

In [27]:
年初固定资产净值 = 100000       # 第一年年初固定资产净值 = 固定资产原值
result = []                     # 创建空列表存储年折旧额

for i in range(8):              
    年折旧额 = round(年初固定资产净值 * (2/10),2)       # 年折旧率 = 2/10
    result.append(年折旧额)
    年初固定资产净值 -= 年折旧额
else:
    年折旧额 = round((年初固定资产净值-100000*0.05)/2,2)
    result.append(年折旧额)
    result.append(round(年初固定资产净值-100000*0.05-年折旧额,2))
print("每年折旧额依次为：",result)

每年折旧额依次为： [20000.0, 16000.0, 12800.0, 10240.0, 8192.0, 6553.6, 5242.88, 4194.3, 5888.61, 5888.61]

In [41]:
def 折旧额计算(原值,折旧年限,残值率):

    年初固定资产净值 = 原值       # 第一年年初固定资产净值 = 固定资产原值
    result = []                     # 创建空列表存储年折旧额

    for i in range(折旧年限):
        if i < 折旧年限 -2:
            年折旧额 = round(年初固定资产净值 * (2/折旧年限),2)       # 年折旧率 = 2/10
            result.append(年折旧额)
            年初固定资产净值 = round(年初固定资产净值 - 年折旧额,2)
        else:
            年折旧额 = round((年初固定资产净值-原值*残值率)/(折旧年限-i),2)
            result.append(年折旧额)
        年初固定资产净值 = round(年初固定资产净值 - 年折旧额,2)
    print("每年折旧额依次为：",result)
    return result
#测试函数：
result = 折旧额计算(100000,10,0.05)
print("折旧结果：",result)

每年折旧额依次为： [20000.0, 12000.0, 7200.0, 4320.0, 2592.0, 1555.2, 933.12, 559.87, -1660.19, -1660.19]
折旧结果： [20000.0, 12000.0, 7200.0, 4320.0, 2592.0, 1555.2, 933.12, 559.87, -1660.19, -1660.19]

In [33]:
#使用if...else...语句
a=6
b=4

if a> b:
    c=a
else:
    c=b
print(c)

6

In [34]:
#使用三元运算符
a = 6
b = 4
c= a if a>b else b
print (c)

6

In [42]:
#lambda表达式与三元运算符连用
print((lambda a,b: a if a>b else b) (4,5))

5

In [43]:
# 方法一:if...else 语句
#创建一个变量EVA接收本年经济增加值
EVA= 1800000

# if条件判断开始
if EVA> 1500000:
    bonus = EVA*0.1
else:
    bonus = 0
    
#打印计算结果
print (bonus)

180000.0

In [44]:
# 方法二:匿名函数lambda表达式与三元运算符连用
# 创建匿名函数，并输出结果

print((lambda EVA : EVA*0.1 if EVA>1500000 else 0)(1800000))

# 创建匿名函数，并输出结果
bonus = (lambda EVA : EVA*0.1 if EVA>1500000 else 0)(1800000)

#打印计算结果
print (bonus)

180000.0
180000.0

In [1]:
#引入库
import requests
#发送请求
r = requests.get('https://keyun-oss.acctedu.com/app/bigdata/2022/company/year/zcfzb_600313.csv')

In [2]:
# 检测是否连接成功
r.status_code

200

In [3]:
# 查看响应内容
r.text

'é¡¹ç\x9b®,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998,1997\r\næµ\x81å\x8a¨èµ\x84äº§(ä¸\x87å\x85\x83),,,,,,,,,,,,,,,,,,,,,,,,,,\r\nè´§å¸\x81èµ\x84é\x87\x91(ä¸\x87å\x85\x83),81995.94,62923.62,82502.60,25910.79,44208.09,45721.99,91412.29,62959.28,63334.09,68850.65,81257.18,40809.79,46633.04,46440.69,39798.94,41844.37,36765.13,39418.61,43487.85,42740.99,47246.83,53028.69,64834.40,15160.13,12879.98,4631.10\r\nç»\x93ç®\x97å¤\x87ä»\x98é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nç\x8e°é\x87\x91å\x8f\x8aå\xad\x98æ\x94¾ä¸\xadå¤®é\x93¶è¡\x8cæ¬¾é¡¹(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\næ\x8b\x86å\x87ºèµ\x84é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\xad\x98æ\x94¾å\x90\x8cä¸\x9aæ¬¾é¡¹(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nè\x9e\x8då\x87ºèµ\x84é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\näº¤æ\x98\x93æ\x80§é\x87\x91è\x9e\x8dèµ\x84äº§(ä¸\x87å\x85\x83),3272.87,11810.27,7984.63,16875.15,--,--,--,501.43,--,--,--,--,--,--,--,--,287.00,--,--,--,174.89,189.22,--,--,--,1350.00\r\nè¡\x8dç\x94\x9fé\x87\x91è\x9e\x8dèµ\x84äº§(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nåº\x94æ\x94¶ç¥¨æ\x8d®å\x8f\x8aåº\x94æ\x94¶è´¦æ¬¾(ä¸\x87å\x85\x83),43302.52,30514.02,28783.38,28213.24,16650.47,15809.30,50091.71,42391.98,24250.07,21844.97,29557.29,3571.90,106.13,396.02,1154.48,1516.39,1386.68,1507.33,2456.10,2783.92,5856.56,5824.53,5532.71,--,55.00,--\r\nå\x85¶ä¸\xadï¼\x9aåº\x94æ\x94¶ç¥¨æ\x8d®(ä¸\x87å\x85\x83),18473.23,5934.34,2340.74,5655.47,1427.37,970.61,590.94,1376.74,912.00,2028.40,18876.41,--,15.00,50.00,--,165.00,6.26,6.24,780.00,292.00,719.60,184.00,55.00,--,55.00,--\r\nåº\x94æ\x94¶è´¦æ¬¾(ä¸\x87å\x85\x83),24829.30,24579.67,26442.65,22557.77,15223.10,14838.69,49500.77,41015.24,23338.07,19816.56,10680.88,3571.90,91.13,346.02,1154.48,1351.39,1380.42,1501.09,1676.10,2491.92,5136.95,5640.53,5477.71,--,--,--\r\nåº\x94æ\x94¶æ¬¾é¡¹(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\né¢\x84ä»\x98æ¬¾é¡¹(ä¸\x87å\x85\x83),46639.72,28794.66,39967.79,38747.13,37941.84,41638.27,38460.43,25759.07,24657.89,8582.45,9957.20,4061.20,208.44,40.44,463.56,1950.72,3600.17,6588.49,15625.45,12477.37,11805.83,17645.29,28062.47,15739.20,16908.32,15335.47\r\nåº\x94æ\x94¶ä¿\x9dè´¹(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nåº\x94æ\x94¶å\x88\x86ä¿\x9dè´¦æ¬¾(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nåº\x94æ\x94¶å\x88\x86ä¿\x9då\x90\x88å\x90\x8cå\x87\x86å¤\x87é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nåº\x94æ\x94¶å\x88\x86ä¿\x9dæ\x9cªå\x88°æ\x9c\x9fè´£ä»»å\x87\x86å¤\x87é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nåº\x94æ\x94¶å\x88\x86ä¿\x9dæ\x9cªå\x86³èµ\x94æ¬¾å\x87\x86å¤\x87é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nåº\x94æ\x94¶å\x88\x86ä¿\x9då¯¿é\x99©è´£ä»»å\x87\x86å¤\x87é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nåº\x94æ\x94¶å\x88\x86ä¿\x9dé\x95¿æ\x9c\x9få\x81¥åº·é\x99©è´£ä»»å\x87\x86å¤\x87é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\x85¶ä»\x96åº\x94æ\x94¶æ¬¾(ä¸\x87å\x85\x83),3149.20,7168.14,8526.17,10410.28,18514.98,13927.58,19562.52,16734.08,1752.57,621.14,987.07,793.96,601.68,2885.58,2701.41,1840.71,4451.13,6103.74,6403.86,12251.44,20129.90,17128.46,2896.76,--,--,--\r\nä¹°å\x85¥è¿\x94å\x94®é\x87\x91è\x9e\x8dèµ\x84äº§(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nè´µé\x87\x91å±\x9e(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\xad\x98è´§(ä¸\x87å\x85\x83),87415.48,51759.79,39955.49,41019.08,43402.37,37213.28,35324.03,39553.50,32960.21,21826.42,18441.22,5503.96,368.79,2217.70,12529.91,11229.54,15675.12,11932.01,14085.70,12832.52,15587.53,20708.31,13826.84,16912.08,9049.56,9962.83\r\nå\x88\x92å\x88\x86ä¸ºæ\x8c\x81æ\x9c\x89å¾\x85å\x94®ç\x9a\x84èµ\x84äº§(ä¸\x87å\x85\x83),--,--,--,--,--,21382.46,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nä¸\x80å¹´å\x86\x85å\x88°æ\x9c\x9fç\x9a\x84é\x9d\x9eæµ\x81å\x8a¨èµ\x84äº§(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\xad\x98å\x87ºä¿\x9dè¯\x81é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nä¿\x9dæ\x88·è´¨æ\x8a¼è´·æ¬¾(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå®\x9aæ\x9c\x9få\xad\x98æ¬¾(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\x85¶ä»\x96æµ\x81å\x8a¨èµ\x84äº§(ä¸\x87å\x85\x83),5663.27,3678.97,3108.74,22480.87,21948.35,46968.63,30129.20,24527.80,6463.70,8658.17,--,--,--,--,--,--,--,--,--,--,--,--,14.77,--,--,--\r\næµ\x81å\x8a¨èµ\x84äº§å\x90\x88è®¡(ä¸\x87å\x85\x83),272221.40,200484.69,211008.80,184137.50,182666.10,222661.51,264980.18,212427.14,153418.53,130383.79,140199.97,54740.80,47918.08,51980.43,56648.30,58381.74,62165.23,66035.99,82498.77,83176.92,102701.45,115436.75,115180.03,60260.59,50432.91,38892.08\r\né\x9d\x9eæµ\x81å\x8a¨èµ\x84äº§(ä¸\x87å\x85\x83),,,,,,,,,,,,,,,,,,,,,,,,,,\r\nå\x8f\x91æ\x94¾è´·æ¬¾å\x8f\x8aå\x9e«æ¬¾(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\x8f¯ä¾\x9bå\x87ºå\x94®é\x87\x91è\x9e\x8dèµ\x84äº§(ä¸\x87å\x85\x83),--,--,--,--,900.00,900.00,900.00,900.00,900.00,450.00,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\næ\x8c\x81æ\x9c\x89è\x87³å\x88°æ\x9c\x9fæ\x8a\x95èµ\x84(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nåº\x94æ\x94¶æ¬¾é¡¹ç±»æ\x8a\x95èµ\x84(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\né\x95¿æ\x9c\x9fè\x82¡æ\x9d\x83æ\x8a\x95èµ\x84(ä¸\x87å\x85\x83),1991.42,1972.29,1995.46,2000.54,2065.86,2279.89,2342.38,2106.40,--,2946.84,40.30,--,--,--,--,--,--,621.90,710.74,799.58,1011.52,107.00,--,--,--,--\r\nå\x85¶ä»\x96æ\x9d\x83ç\x9b\x8aå·¥å\x85·æ\x8a\x95èµ\x84(ä¸\x87å\x85\x83),--,--,900.00,900.00,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\x85¶ä»\x96é\x9d\x9eæµ\x81å\x8a¨é\x87\x91è\x9e\x8dèµ\x84äº§(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\næ\x8a\x95èµ\x84æ\x80§æ\x88¿å\x9c°äº§(ä¸\x87å\x85\x83),2795.48,1012.77,1063.37,1113.96,1607.37,1785.53,1862.50,2763.07,1020.30,1309.31,1386.43,353.03,362.41,225.88,2157.95,1989.32,--,--,--,--,--,--,--,--,--,--\r\nå\x9bºå®\x9aæ\x8a\x95èµ\x84(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\x9bºå®\x9aèµ\x84äº§(ä¸\x87å\x85\x83),61272.39,59061.42,61342.63,64381.58,69144.98,71842.95,83621.44,73854.08,23906.25,15265.29,7998.52,5390.43,3193.57,3513.89,8426.47,8912.92,9674.82,10146.67,10847.54,11703.31,14585.39,15157.06,14632.45,--,--,--\r\nå\x9c¨å»ºå·¥ç¨\x8b(ä¸\x87å\x85\x83),2889.99,2837.34,221.10,1301.55,1165.70,401.67,2104.44,12850.77,6523.20,583.83,4300.64,65.11,--,20.55,50.00,10.70,190.10,--,--,--,463.76,434.37,1044.03,--,--,--\r\næ\x97\xa0å½¢èµ\x84äº§(ä¸\x87å\x85\x83),32068.22,30255.60,31039.21,29879.01,28579.25,25861.61,25017.85,26050.74,17631.73,8215.86,8153.80,4420.28,1696.41,1741.23,194.47,199.33,1875.74,1920.56,1965.39,2010.21,2055.03,2116.74,2341.56,--,190.27,140.25\r\nå\x95\x86èª\x89(ä¸\x87å\x85\x83),13479.86,13479.86,13241.69,13241.69,13241.69,13242.54,19344.58,31385.75,22134.58,17358.08,17354.83,12173.40,--,--,14.92,636.82,621.90,--,--,--,--,--,--,--,--,--\r\né\x95¿æ\x9c\x9få¾\x85æ\x91\x8aè´¹ç\x94¨(ä¸\x87å\x85\x83),768.19,834.50,2116.75,2378.65,2094.24,2661.60,2198.76,1655.50,2415.63,1140.82,574.79,423.79,400.52,413.72,454.98,496.24,453.31,466.50,479.70,492.89,871.24,906.43,1105.07,1122.74,786.43,523.47\r\né\x80\x92å»¶æ\x89\x80å¾\x97ç¨\x8eèµ\x84äº§(ä¸\x87å\x85\x83),4093.84,3914.31,3930.26,3910.15,3859.18,4468.37,5003.83,1544.34,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\x85¶ä»\x96èµ\x84äº§(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\xad\x98å\x87ºèµ\x84æ\x9c¬ä¿\x9dè¯\x81é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nç\x8b¬ç«\x8bè´¦æ\x88·èµ\x84äº§(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\x85¶ä»\x96é\x9d\x9eæµ\x81å\x8a¨èµ\x84äº§(ä¸\x87å\x85\x83),2547.45,3166.78,3519.88,3065.30,3266.86,4538.53,1749.70,--,--,--,--,--,4000.00,--,--,--,--,--,--,--,--,--,--,--,--,--\r\né\x9d\x9eæµ\x81å\x8a¨èµ\x84äº§å\x90\x88è®¡(ä¸\x87å\x85\x83),128229.56,135890.06,120991.33,124707.09,128869.99,131641.65,147197.69,160117.33,78979.78,47430.10,39809.30,22826.04,9652.91,5915.26,11298.79,12245.33,12815.87,13155.63,14003.36,15005.99,18986.94,18721.59,19123.10,18565.98,13124.32,11946.54\r\nèµ\x84äº§å\x90\x88è®¡(ä¸\x87å\x85\x83),400450.96,336374.76,332000.12,308844.59,311536.10,354303.16,412177.87,372544.47,232398.31,177813.90,180009.27,77566.84,57571.00,57895.69,67947.09,70627.07,74981.09,79191.62,96502.13,98182.90,121688.39,134158.35,134303.13,78826.57,63557.23,50838.62\r\næµ\x81å\x8a¨è´\x9få\x80º(ä¸\x87å\x85\x83),,,,,,,,,,,,,,,,,,,,,,,,,,\r\nç\x9f\xadæ\x9c\x9få\x80\x9fæ¬¾(ä¸\x87å\x85\x83),13510.00,22790.00,23790.00,13800.00,18274.61,29900.00,24675.00,22970.00,3730.00,11788.95,3000.00,--,--,7635.99,7713.48,7713.61,8113.61,10900.00,12000.00,18590.00,26197.00,31897.65,25220.00,10650.00,12127.01,3770.00\r\nåº\x94ä»\x98ç\x9f\xadæ\x9c\x9fè\x9e\x8dèµ\x84æ¬¾(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\x90\x91ä¸\xadå¤®é\x93¶è¡\x8cå\x80\x9fæ¬¾(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\næ\x8b\x86å\x85¥èµ\x84é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nä»¥å\x85¬å\x85\x81ä»·å\x80¼è®¡é\x87\x8fä¸\x94å\x85¶å\x8f\x98å\x8a¨è®¡å\x85¥å½\x93æ\x9c\x9fæ\x8d\x9fç\x9b\x8aç\x9a\x84é\x87\x91è\x9e\x8dè´\x9få\x80º(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nè¡\x8dç\x94\x9fé\x87\x91è\x9e\x8dè´\x9få\x80º(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nåº\x94ä»\x98æ¬¾é¡¹(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nåº\x94ä»\x98ç¥¨æ\x8d®å\x8f\x8aåº\x94ä»\x98è´¦æ¬¾(ä¸\x87å\x85\x83),20115.02,10456.75,8112.53,13482.65,10652.94,34211.54,57863.86,48461.00,7990.79,5573.45,5095.23,2471.52,543.14,541.53,2964.12,3902.87,3199.95,3404.22,8053.25,5789.57,5779.27,6720.03,7754.62,7796.69,8772.95,7064.19\r\nå\x85¶ä¸\xadï¼\x9aåº\x94ä»\x98ç¥¨æ\x8d®(ä¸\x87å\x85\x83),384.44,1047.21,--,2200.00,--,16500.00,35032.00,20430.68,--,--,--,--,--,--,--,--,--,1358.39,--,1800.00,882.50,600.00,2050.39,--,--,--\r\nåº\x94ä»\x98è´¦æ¬¾(ä¸\x87å\x85\x83),19730.58,9409.54,8112.53,11282.65,10652.94,17711.54,22831.86,28030.32,7990.79,5573.45,5095.23,2471.52,543.14,541.53,2964.12,3902.87,3199.95,2045.82,8053.25,3989.57,4896.77,6120.03,5704.24,7796.69,8772.95,7064.19\r\nåº\x94ä»\x98èµ\x94ä»\x98æ¬¾(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\né¢\x84æ\x94¶æ¬¾é¡¹(ä¸\x87å\x85\x83),566.81,1250.60,42.63,38065.40,43821.13,38229.91,36819.36,19800.45,24293.60,16244.22,30609.26,9934.73,1256.67,1133.01,2874.94,3640.76,3544.28,6169.69,13485.85,12061.47,11786.10,13200.08,15608.47,24822.57,17751.57,16613.31\r\né¢\x84æ\x94¶ä¿\x9dè´¹(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\x90\x88å\x90\x8cè´\x9få\x80º(ä¸\x87å\x85\x83),48026.31,30524.34,44186.04,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\x8d\x96å\x87ºå\x9b\x9eè´\xadé\x87\x91è\x9e\x8dèµ\x84äº§æ¬¾(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\x90¸æ\x94¶å\xad\x98æ¬¾(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\x90\x8cä¸\x9aå\x8f\x8aå\x85¶ä»\x96é\x87\x91è\x9e\x8dæ\x9cºæ\x9e\x84å\xad\x98æ\x94¾æ¬¾é¡¹(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nä»£ç\x90\x86ä¹°å\x8d\x96è¯\x81å\x88¸æ¬¾(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nä»£ç\x90\x86æ\x89¿é\x94\x80è¯\x81å\x88¸æ¬¾(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nåº\x94ä»\x98è\x81\x8cå·¥è\x96ªé\x85¬(ä¸\x87å\x85\x83),6777.73,3681.74,2476.35,2113.91,2463.98,2406.75,2288.71,1872.95,1458.61,1175.65,1202.71,699.63,308.97,255.00,1715.47,1522.10,1337.24,1136.05,1960.08,2034.69,1359.07,616.49,339.44,409.89,301.15,13.96\r\nåº\x94äº¤ç¨\x8eè´¹(ä¸\x87å\x85\x83),8124.15,5641.64,4444.17,4020.42,4132.20,5917.29,8081.20,4068.26,821.45,424.50,1654.68,699.19,329.86,295.13,324.27,284.39,77.37,344.74,677.63,552.99,653.00,-437.51,-533.43,156.26,724.09,15.09\r\nå\x85¶ä»\x96åº\x94ä»\x98æ¬¾(ä¸\x87å\x85\x83),5649.94,4740.38,6902.99,3951.85,4569.46,6210.22,5650.27,5535.32,6211.75,6257.47,5346.80,1711.07,3725.18,3430.42,4391.17,3252.95,2082.67,2346.35,2917.76,2553.19,2642.91,4994.30,6738.69,5909.33,1257.29,3024.72\r\nåº\x94ä»\x98ä¿\x9då\x8d\x95çº¢å\x88©(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nåº\x94ä»\x98æ\x89\x8bç»\xadè´¹å\x8f\x8aä½£é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nåº\x94ä»\x98å\x88\x86ä¿\x9dè´¦æ¬¾(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nä¸\x80å¹´å\x86\x85å\x88°æ\x9c\x9fç\x9a\x84é\x9d\x9eæµ\x81å\x8a¨è´\x9få\x80º(ä¸\x87å\x85\x83),2475.11,5414.23,3035.02,5665.18,1318.92,3265.26,6136.80,2726.17,400.00,--,--,--,--,--,--,--,--,--,--,--,2920.43,2749.07,1760.00,1250.00,1398.05,800.00\r\nä¿\x9dæ\x88·å\x82¨é\x87\x91å\x8f\x8aæ\x8a\x95èµ\x84æ¬¾(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\xad\x98å\x85¥ä¿\x9dè¯\x81é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\x85¶ä»\x96æµ\x81å\x8a¨è´\x9få\x80º(ä¸\x87å\x85\x83),15468.51,1832.71,3175.25,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\næµ\x81å\x8a¨è´\x9få\x80ºå\x90\x88è®¡(ä¸\x87å\x85\x83),120713.57,86332.40,96164.97,81099.42,85233.24,126969.65,141515.20,105434.16,44906.20,41464.25,46908.67,15516.14,6163.82,13291.07,19983.44,20316.67,18355.11,24387.45,39171.61,41707.35,51558.82,59975.94,56904.75,51004.28,42335.31,31301.26\r\né\x9d\x9eæµ\x81å\x8a¨è´\x9få\x80º(ä¸\x87å\x85\x83),,,,,,,,,,,,,,,,,,,,,,,,,,\r\nä¿\x9dé\x99©å\x90\x88å\x90\x8cå\x87\x86å¤\x87é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\næ\x9cªå\x88°æ\x9c\x9fè´£ä»»å\x87\x86å¤\x87é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\næ\x9cªå\x86³èµ\x94æ¬¾å\x87\x86å¤\x87é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå¯¿é\x99©è´£ä»»å\x87\x86å¤\x87é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\né\x95¿æ\x9c\x9få\x81¥åº·é\x99©è´£ä»»å\x87\x86å¤\x87é\x87\x91(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\né\x95¿æ\x9c\x9få\x80\x9fæ¬¾(ä¸\x87å\x85\x83),3850.00,1620.00,6020.00,--,3950.00,4450.00,1200.00,4000.00,4400.00,--,--,--,--,--,--,--,--,--,--,--,--,--,1092.28,1431.51,1707.52,2150.00\r\nåº\x94ä»\x98å\x80ºå\x88¸(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\né\x95¿æ\x9c\x9fåº\x94ä»\x98æ¬¾(ä¸\x87å\x85\x83),6987.46,3378.08,7603.73,10485.14,6707.73,4379.23,6149.68,8125.80,8341.69,3510.28,5030.04,1369.20,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\né¢\x84è®¡è´\x9få\x80º(ä¸\x87å\x85\x83),666.00,226.28,--,--,--,--,78.47,78.47,--,--,--,44.89,--,2100.00,2100.00,2100.00,1993.99,1993.99,2005.99,5959.82,4940.18,--,--,--,--,--\r\né\x80\x92å»¶æ\x94¶ç\x9b\x8a-é\x9d\x9eæµ\x81å\x8a¨è´\x9få\x80º(ä¸\x87å\x85\x83),6665.58,5781.10,5913.49,5510.51,5700.94,6105.13,6763.48,6762.10,3776.08,789.53,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\né\x80\x92å»¶æ\x89\x80å¾\x97ç¨\x8eè´\x9få\x80º(ä¸\x87å\x85\x83),655.68,187.64,186.09,184.53,182.98,181.42,180.90,195.71,--,--,--,--,--,--,--,--,23.98,--,--,--,--,--,--,--,--,--\r\nå\x85¶ä»\x96è´\x9få\x80º(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nç\x8b¬ç«\x8bè´¦æ\x88·è´\x9få\x80º(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\x85¶ä»\x96é\x9d\x9eæµ\x81å\x8a¨è´\x9få\x80º(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,250.00,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\né\x9d\x9eæµ\x81å\x8a¨è´\x9få\x80ºå\x90\x88è®¡(ä¸\x87å\x85\x83),21506.52,25922.85,19723.31,16180.18,16541.65,15115.78,14372.54,19162.07,16517.77,4299.81,5280.04,1414.09,--,2100.00,2100.00,2100.00,2017.98,1993.99,2005.99,5959.82,4940.18,--,1092.28,1431.51,1707.52,2150.00\r\nè´\x9få\x80ºå\x90\x88è®¡(ä¸\x87å\x85\x83),142220.09,112255.25,115888.28,97279.60,101774.89,142085.43,155887.74,124596.23,61423.97,45764.06,52188.71,16930.23,6163.82,15391.07,22083.44,22416.67,20373.08,26381.45,41177.60,47667.17,56499.00,59975.94,57997.03,52435.79,44042.83,33451.26\r\næ\x89\x80æ\x9c\x89è\x80\x85æ\x9d\x83ç\x9b\x8aï¼\x88æ\x88\x96è\x82¡ä¸\x9cæ\x9d\x83ç\x9b\x8aï¼\x89(ä¸\x87å\x85\x83),,,,,,,,,,,,,,,,,,,,,,,,,,\r\nå®\x9eæ\x94¶èµ\x84æ\x9c¬ï¼\x88æ\x88\x96è\x82¡æ\x9c¬ï¼\x89(ä¸\x87å\x85\x83),108219.87,108219.87,108219.87,108219.87,108219.87,108219.87,108219.87,43287.95,36728.72,36728.72,36728.72,30420.00,30420.00,30420.00,30420.00,30420.00,25220.00,25220.00,25220.00,25220.00,25220.00,25220.00,25220.00,17220.00,--,--\r\nå\x85¶ä»\x96æ\x9d\x83ç\x9b\x8aå·¥å\x85·(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nèµ\x84æ\x9c¬å\x85¬ç§¯(ä¸\x87å\x85\x83),42220.29,41951.25,41951.25,41951.25,41869.16,41880.46,41880.46,106811.50,63104.03,62784.58,68458.48,25331.30,25331.30,22994.68,23038.13,23048.13,28873.14,28899.39,49622.19,49595.72,48786.55,48741.35,48208.40,7379.40,--,--\r\nå\x87\x8fï¼\x9aåº\x93å\xad\x98è\x82¡(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nå\x85¶ä»\x96ç»¼å\x90\x88æ\x94¶ç\x9b\x8a(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\nç\x9b\x88ä½\x99å\x85¬ç§¯(ä¸\x87å\x85\x83),1577.36,1577.36,1577.36,1577.36,1577.36,1352.92,1352.92,1302.48,858.10,269.91,269.91,269.91,269.91,269.91,437.38,437.38,437.38,437.38,948.85,948.85,996.75,991.45,1054.28,543.16,--,--\r\nä¸\x80è\x88¬é£\x8eé\x99©å\x87\x86å¤\x87(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\näº¤æ\x98\x93é£\x8eé\x99©å\x87\x86å¤\x87(ä¸\x87å\x85\x83),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\næ\x9cªå\x88\x86é\x85\x8då\x88©æ¶¦(ä¸\x87å\x85\x83),21641.52,-1365.69,-5018.91,-7728.37,-9546.76,-12492.59,19274.87,17448.16,13212.51,2745.95,-1077.27,-3956.30,-4754.12,-10072.41,-8598.25,-6275.91,-853.38,-

In [4]:
# 重新指定编码方式
r.encoding = r.apparent_encoding

In [5]:
r.text

'项目,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998,1997\r\n流动资产(万元),,,,,,,,,,,,,,,,,,,,,,,,,,\r\n货币资金(万元),81995.94,62923.62,82502.60,25910.79,44208.09,45721.99,91412.29,62959.28,63334.09,68850.65,81257.18,40809.79,46633.04,46440.69,39798.94,41844.37,36765.13,39418.61,43487.85,42740.99,47246.83,53028.69,64834.40,15160.13,12879.98,4631.10\r\n结算备付金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n现金及存放中央银行款项(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n拆出资金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n存放同业款项(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n融出资金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n交易性金融资产(万元),3272.87,11810.27,7984.63,16875.15,--,--,--,501.43,--,--,--,--,--,--,--,--,287.00,--,--,--,174.89,189.22,--,--,--,1350.00\r\n衍生金融资产(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n应收票据及应收账款(万元),43302.52,30514.02,28783.38,28213.24,16650.47,15809.30,50091.71,42391.98,24250.07,21844.97,29557.29,3571.90,106.13,396.02,1154.48,1516.39,1386.68,1507.33,2456.10,2783.92,5856.56,5824.53,5532.71,--,55.00,--\r\n其中：应收票据(万元),18473.23,5934.34,2340.74,5655.47,1427.37,970.61,590.94,1376.74,912.00,2028.40,18876.41,--,15.00,50.00,--,165.00,6.26,6.24,780.00,292.00,719.60,184.00,55.00,--,55.00,--\r\n应收账款(万元),24829.30,24579.67,26442.65,22557.77,15223.10,14838.69,49500.77,41015.24,23338.07,19816.56,10680.88,3571.90,91.13,346.02,1154.48,1351.39,1380.42,1501.09,1676.10,2491.92,5136.95,5640.53,5477.71,--,--,--\r\n应收款项(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n预付款项(万元),46639.72,28794.66,39967.79,38747.13,37941.84,41638.27,38460.43,25759.07,24657.89,8582.45,9957.20,4061.20,208.44,40.44,463.56,1950.72,3600.17,6588.49,15625.45,12477.37,11805.83,17645.29,28062.47,15739.20,16908.32,15335.47\r\n应收保费(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n应收分保账款(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n应收分保合同准备金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n应收分保未到期责任准备金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n应收分保未决赔款准备金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n应收分保寿险责任准备金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n应收分保长期健康险责任准备金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n其他应收款(万元),3149.20,7168.14,8526.17,10410.28,18514.98,13927.58,19562.52,16734.08,1752.57,621.14,987.07,793.96,601.68,2885.58,2701.41,1840.71,4451.13,6103.74,6403.86,12251.44,20129.90,17128.46,2896.76,--,--,--\r\n买入返售金融资产(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n贵金属(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n存货(万元),87415.48,51759.79,39955.49,41019.08,43402.37,37213.28,35324.03,39553.50,32960.21,21826.42,18441.22,5503.96,368.79,2217.70,12529.91,11229.54,15675.12,11932.01,14085.70,12832.52,15587.53,20708.31,13826.84,16912.08,9049.56,9962.83\r\n划分为持有待售的资产(万元),--,--,--,--,--,21382.46,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n一年内到期的非流动资产(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n存出保证金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n保户质押贷款(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n定期存款(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n其他流动资产(万元),5663.27,3678.97,3108.74,22480.87,21948.35,46968.63,30129.20,24527.80,6463.70,8658.17,--,--,--,--,--,--,--,--,--,--,--,--,14.77,--,--,--\r\n流动资产合计(万元),272221.40,200484.69,211008.80,184137.50,182666.10,222661.51,264980.18,212427.14,153418.53,130383.79,140199.97,54740.80,47918.08,51980.43,56648.30,58381.74,62165.23,66035.99,82498.77,83176.92,102701.45,115436.75,115180.03,60260.59,50432.91,38892.08\r\n非流动资产(万元),,,,,,,,,,,,,,,,,,,,,,,,,,\r\n发放贷款及垫款(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n可供出售金融资产(万元),--,--,--,--,900.00,900.00,900.00,900.00,900.00,450.00,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n持有至到期投资(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n应收款项类投资(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n长期股权投资(万元),1991.42,1972.29,1995.46,2000.54,2065.86,2279.89,2342.38,2106.40,--,2946.84,40.30,--,--,--,--,--,--,621.90,710.74,799.58,1011.52,107.00,--,--,--,--\r\n其他权益工具投资(万元),--,--,900.00,900.00,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n其他非流动金融资产(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n投资性房地产(万元),2795.48,1012.77,1063.37,1113.96,1607.37,1785.53,1862.50,2763.07,1020.30,1309.31,1386.43,353.03,362.41,225.88,2157.95,1989.32,--,--,--,--,--,--,--,--,--,--\r\n固定投资(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n固定资产(万元),61272.39,59061.42,61342.63,64381.58,69144.98,71842.95,83621.44,73854.08,23906.25,15265.29,7998.52,5390.43,3193.57,3513.89,8426.47,8912.92,9674.82,10146.67,10847.54,11703.31,14585.39,15157.06,14632.45,--,--,--\r\n在建工程(万元),2889.99,2837.34,221.10,1301.55,1165.70,401.67,2104.44,12850.77,6523.20,583.83,4300.64,65.11,--,20.55,50.00,10.70,190.10,--,--,--,463.76,434.37,1044.03,--,--,--\r\n无形资产(万元),32068.22,30255.60,31039.21,29879.01,28579.25,25861.61,25017.85,26050.74,17631.73,8215.86,8153.80,4420.28,1696.41,1741.23,194.47,199.33,1875.74,1920.56,1965.39,2010.21,2055.03,2116.74,2341.56,--,190.27,140.25\r\n商誉(万元),13479.86,13479.86,13241.69,13241.69,13241.69,13242.54,19344.58,31385.75,22134.58,17358.08,17354.83,12173.40,--,--,14.92,636.82,621.90,--,--,--,--,--,--,--,--,--\r\n长期待摊费用(万元),768.19,834.50,2116.75,2378.65,2094.24,2661.60,2198.76,1655.50,2415.63,1140.82,574.79,423.79,400.52,413.72,454.98,496.24,453.31,466.50,479.70,492.89,871.24,906.43,1105.07,1122.74,786.43,523.47\r\n递延所得税资产(万元),4093.84,3914.31,3930.26,3910.15,3859.18,4468.37,5003.83,1544.34,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n其他资产(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n存出资本保证金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n独立账户资产(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n其他非流动资产(万元),2547.45,3166.78,3519.88,3065.30,3266.86,4538.53,1749.70,--,--,--,--,--,4000.00,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n非流动资产合计(万元),128229.56,135890.06,120991.33,124707.09,128869.99,131641.65,147197.69,160117.33,78979.78,47430.10,39809.30,22826.04,9652.91,5915.26,11298.79,12245.33,12815.87,13155.63,14003.36,15005.99,18986.94,18721.59,19123.10,18565.98,13124.32,11946.54\r\n资产合计(万元),400450.96,336374.76,332000.12,308844.59,311536.10,354303.16,412177.87,372544.47,232398.31,177813.90,180009.27,77566.84,57571.00,57895.69,67947.09,70627.07,74981.09,79191.62,96502.13,98182.90,121688.39,134158.35,134303.13,78826.57,63557.23,50838.62\r\n流动负债(万元),,,,,,,,,,,,,,,,,,,,,,,,,,\r\n短期借款(万元),13510.00,22790.00,23790.00,13800.00,18274.61,29900.00,24675.00,22970.00,3730.00,11788.95,3000.00,--,--,7635.99,7713.48,7713.61,8113.61,10900.00,12000.00,18590.00,26197.00,31897.65,25220.00,10650.00,12127.01,3770.00\r\n应付短期融资款(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n向中央银行借款(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n拆入资金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n以公允价值计量且其变动计入当期损益的金融负债(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n衍生金融负债(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n应付款项(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n应付票据及应付账款(万元),20115.02,10456.75,8112.53,13482.65,10652.94,34211.54,57863.86,48461.00,7990.79,5573.45,5095.23,2471.52,543.14,541.53,2964.12,3902.87,3199.95,3404.22,8053.25,5789.57,5779.27,6720.03,7754.62,7796.69,8772.95,7064.19\r\n其中：应付票据(万元),384.44,1047.21,--,2200.00,--,16500.00,35032.00,20430.68,--,--,--,--,--,--,--,--,--,1358.39,--,1800.00,882.50,600.00,2050.39,--,--,--\r\n应付账款(万元),19730.58,9409.54,8112.53,11282.65,10652.94,17711.54,22831.86,28030.32,7990.79,5573.45,5095.23,2471.52,543.14,541.53,2964.12,3902.87,3199.95,2045.82,8053.25,3989.57,4896.77,6120.03,5704.24,7796.69,8772.95,7064.19\r\n应付赔付款(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n预收款项(万元),566.81,1250.60,42.63,38065.40,43821.13,38229.91,36819.36,19800.45,24293.60,16244.22,30609.26,9934.73,1256.67,1133.01,2874.94,3640.76,3544.28,6169.69,13485.85,12061.47,11786.10,13200.08,15608.47,24822.57,17751.57,16613.31\r\n预收保费(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n合同负债(万元),48026.31,30524.34,44186.04,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n卖出回购金融资产款(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n吸收存款(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n同业及其他金融机构存放款项(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n代理买卖证券款(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n代理承销证券款(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n应付职工薪酬(万元),6777.73,3681.74,2476.35,2113.91,2463.98,2406.75,2288.71,1872.95,1458.61,1175.65,1202.71,699.63,308.97,255.00,1715.47,1522.10,1337.24,1136.05,1960.08,2034.69,1359.07,616.49,339.44,409.89,301.15,13.96\r\n应交税费(万元),8124.15,5641.64,4444.17,4020.42,4132.20,5917.29,8081.20,4068.26,821.45,424.50,1654.68,699.19,329.86,295.13,324.27,284.39,77.37,344.74,677.63,552.99,653.00,-437.51,-533.43,156.26,724.09,15.09\r\n其他应付款(万元),5649.94,4740.38,6902.99,3951.85,4569.46,6210.22,5650.27,5535.32,6211.75,6257.47,5346.80,1711.07,3725.18,3430.42,4391.17,3252.95,2082.67,2346.35,2917.76,2553.19,2642.91,4994.30,6738.69,5909.33,1257.29,3024.72\r\n应付保单红利(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n应付手续费及佣金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n应付分保账款(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n一年内到期的非流动负债(万元),2475.11,5414.23,3035.02,5665.18,1318.92,3265.26,6136.80,2726.17,400.00,--,--,--,--,--,--,--,--,--,--,--,2920.43,2749.07,1760.00,1250.00,1398.05,800.00\r\n保户储金及投资款(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n存入保证金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n其他流动负债(万元),15468.51,1832.71,3175.25,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n流动负债合计(万元),120713.57,86332.40,96164.97,81099.42,85233.24,126969.65,141515.20,105434.16,44906.20,41464.25,46908.67,15516.14,6163.82,13291.07,19983.44,20316.67,18355.11,24387.45,39171.61,41707.35,51558.82,59975.94,56904.75,51004.28,42335.31,31301.26\r\n非流动负债(万元),,,,,,,,,,,,,,,,,,,,,,,,,,\r\n保险合同准备金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n未到期责任准备金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n未决赔款准备金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n寿险责任准备金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n长期健康险责任准备金(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n长期借款(万元),3850.00,1620.00,6020.00,--,3950.00,4450.00,1200.00,4000.00,4400.00,--,--,--,--,--,--,--,--,--,--,--,--,--,1092.28,1431.51,1707.52,2150.00\r\n应付债券(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n长期应付款(万元),6987.46,3378.08,7603.73,10485.14,6707.73,4379.23,6149.68,8125.80,8341.69,3510.28,5030.04,1369.20,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n预计负债(万元),666.00,226.28,--,--,--,--,78.47,78.47,--,--,--,44.89,--,2100.00,2100.00,2100.00,1993.99,1993.99,2005.99,5959.82,4940.18,--,--,--,--,--\r\n递延收益-非流动负债(万元),6665.58,5781.10,5913.49,5510.51,5700.94,6105.13,6763.48,6762.10,3776.08,789.53,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n递延所得税负债(万元),655.68,187.64,186.09,184.53,182.98,181.42,180.90,195.71,--,--,--,--,--,--,--,--,23.98,--,--,--,--,--,--,--,--,--\r\n其他负债(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n独立账户负债(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n其他非流动负债(万元),--,--,--,--,--,--,--,--,--,--,250.00,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n非流动负债合计(万元),21506.52,25922.85,19723.31,16180.18,16541.65,15115.78,14372.54,19162.07,16517.77,4299.81,5280.04,1414.09,--,2100.00,2100.00,2100.00,2017.98,1993.99,2005.99,5959.82,4940.18,--,1092.28,1431.51,1707.52,2150.00\r\n负债合计(万元),142220.09,112255.25,115888.28,97279.60,101774.89,142085.43,155887.74,124596.23,61423.97,45764.06,52188.71,16930.23,6163.82,15391.07,22083.44,22416.67,20373.08,26381.45,41177.60,47667.17,56499.00,59975.94,57997.03,52435.79,44042.83,33451.26\r\n所有者权益（或股东权益）(万元),,,,,,,,,,,,,,,,,,,,,,,,,,\r\n实收资本（或股本）(万元),108219.87,108219.87,108219.87,108219.87,108219.87,108219.87,108219.87,43287.95,36728.72,36728.72,36728.72,30420.00,30420.00,30420.00,30420.00,30420.00,25220.00,25220.00,25220.00,25220.00,25220.00,25220.00,25220.00,17220.00,--,--\r\n其他权益工具(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n资本公积(万元),42220.29,41951.25,41951.25,41951.25,41869.16,41880.46,41880.46,106811.50,63104.03,62784.58,68458.48,25331.30,25331.30,22994.68,23038.13,23048.13,28873.14,28899.39,49622.19,49595.72,48786.55,48741.35,48208.40,7379.40,--,--\r\n减：库存股(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n其他综合收益(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n盈余公积(万元),1577.36,1577.36,1577.36,1577.36,1577.36,1352.92,1352.92,1302.48,858.10,269.91,269.91,269.91,269.91,269.91,437.38,437.38,437.38,437.38,948.85,948.85,996.75,991.45,1054.28,543.16,--,--\r\n一般风险准备(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n交易风险准备(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n未分配利润(万元),21641.52,-1365.69,-5018.91,-7728.37,-9546.76,-12492.59,19274.87,17448.16,13212.51,2745.95,-1077.27,-3956.30,-4754.12,-10072.41,-8598.25,-6275.91,-853.38,-1096.28,-21220.13,-21565.67,-9930.19,-1897.40,331.54,--,--,--\r\n外币报表折算差额(万元),--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--\r\n归属于母公司所有者权益合计(万元),173659.03,150382.79,146729.70,144028.26,142160.26,138999.23,170813.09,168941.56,113903.37,102529.16,104379.85,52064.91,51267.09,43612.17,45297.26,47629.60,53677.14,52259.81,54570.90,50527.64,64481.67,73055.40,74814.23,25142.56,19462.75,17343.88\r\n少数股东权益(万元),84571.84,73736.72,69382.14,67536.73,67600.95,73218.50,85477.05,79006.68,57070.97,29520.67,23440.71,8571.71,140.09,-1107.55,566.39,580.80,930.88,550.36,753.63,-11.90,707.72,1127.00,1491.88,1248.21,51.65,43.47\r\n所有者权益（或股东权益）合计(万元),258230.87,224119.51,216111.85,211564.99,209761.21,212217.73,256290.13,247948.24,170974.34,132049.83,127820.55,60636.61,51407.18,42504.62,45863.65,48210.40,54608.01,52810.18,55324.54,50515.73,65189.39,74182.40,76306.10,26390.77,19514.40,17387.36\r\n负债和所有者权益（或股东权益）合计(万元),400450.96,336374.76,332000.12,308844.59,311536.10,354303.16,412177.87,372544.47,232398.31,177813.90,180009.27,77566.84,57571.00,57895.69,67947.09,70627.07,74981.09,79191.62,96502.13,98182.90,121688.39,134158.35,134303.13,78826.57,63557.23,50838.62\r\n'

In [10]:
# 保存数据 csv,json,xls,xlsx
with open('中农发种业.csv','w',encoding='utf-8') as f:
    f.write(r.text)

with open('中农发种业.json','w',encoding='utf-8') as f:
    f.write(r.text)
    
with open('中农发种业.xls','wb') as f:
    f.write(r.content)
    
with open('中农发种业.xlsx','wb') as f:
    f.write(r.content)

In [11]:
# 引入pandas库
import pandas as pd

# 数据处理,读取本地文件
df_csv = pd.read_csv('中农发种业.csv')

# 写入excel_xlsx
df_csv.to_excel('中农发种业_xlsx.xlsx',encoding='utf-8')
#自定义爬虫函数
def spider(url,filename):
    '''
    爬虫函数：
    url:str，爬取网址
    filename:str，保存的文件名'''
    try:
        import requests                     #引用requests库
        r= requests.get(url,timeout=5)      # 发送请求
        r.raise_for_status()                 # 检测状态码
        r.encoding = r.apparent_encoding     # 指定真实编码
        if (filename.endswith('xls') or filename.endswith('xlsx')): 
            with open(filename,'wb') as f:
                f.write(r.content)            
        else:
            with open(filename,'w',encoding='utf-8') as f:
                f.write(r.text)            
        return print('文件: ',filename,'下载成功! ')
    except:
        return print('下载失败！')
spider('https://keyun-oss.acctedu.com/app/bigdata/2022/company/year/zcfzb_600598.csv','北大荒资产负债表.csv')
spider('https://keyun-oss.acctedu.com/app/bigdata/2022/company/year/lrb_000713.csv','丰乐种业利润表.csv')
spider('https://keyun-oss.acctedu.com/app/bigdata/2021/company/year/zcfzb_30018.csv','神农科技.csv')

文件:  北大荒资产负债表.csv 下载成功!
文件:  丰乐种业利润表.csv 下载成功!
下载失败！

In [1]:
# 引入pandas
import pandas as pd

#创建Series:不指定索引,默认原始索引
a = pd.Series([11,12,13,14])

#打印输出a
print(a)

#打印输出a的第一个元素
print(a[0])

# 指定索引:
b = pd.Series([21,22,23,24],index=[1,2,3,4])

# 打印输出
print(b)

#打印输出b的第一个元素
print(b[1])
import pandas as pd

data = [[1,2,3,4],[7,8,9,10],[11,12,13,14]]

df = pd.DataFrame(data) 

df

# print(df)
# 引入pandas
import pandas as pd

# 创建二维列表
data= [['7月31日',18400000,7360000,11040000],
       ['9月30日',24320000,10214400,14105600],
       ['8月31日',23500000,10575000,12925000]]

# 创建DataFrame
df = pd.DataFrame(data,columns=['时间','资产总额','负债总额','所有者权益总额'],index=range(1,4))

# 打印输出
df

# print(df)

0    11
1    12
2    13
3    14
dtype: int64
11
1    21
2    22
3    23
4    24
dtype: int64
21

      时间      资产总额      负债总额   所有者权益总额
1  7月31日  18400000   7360000  11040000
2  9月30日  24320000  10214400  14105600
3  8月31日  23500000  10575000  12925000

In [5]:
#引入pandas
import pandas as pd

# 创建字典
data ={'时间':['7月31日','8月31日','9月30日'],
       '资产总额':[18400000,23500000,24320000],
       '负债总额':[7360000,10575000,10214400],
       '所有者权益总额':[11040000,12925000,14105600]}

#创建DataFrame
df = pd.DataFrame(data,index = range(1,4))

# 打印输出
df

# print(df)
print(df)

      时间      资产总额      负债总额   所有者权益总额
1  7月31日  18400000   7360000  11040000
2  8月31日  23500000  10575000  12925000
3  9月30日  24320000  10214400  14105600

In [6]:
#直接对列进行计算
df['资产负债率'] = df['负债总额']/df['资产总额']

# 打印输出
df
# print(df)
print(df)

      时间      资产总额      负债总额   所有者权益总额  资产负债率
1  7月31日  18400000   7360000  11040000   0.40
2  8月31日  23500000  10575000  12925000   0.45
3  9月30日  24320000  10214400  14105600   0.42

In [8]:
#修改列名及行索引
df.rename(columns={'资产总额':'资产','负债总额':'负债','所有者权益总额':'所有者权益'},
            index={1:'x', 2:'y',3:'z'}, inplace=True)

# 打印输出
df
# print(df)
#插入一列
df.insert(0,'序列',range(1,4))

# 打印输出
df
# print(df)
#可直接在最后追加一列,类似于字典添加键值对
df['序号3'] = range(1,4)

# 打印输出
df
# print(df)
#删除列
df.drop(columns='序号3',inplace=True)

# 打印输出
df
# print(df)
#查看前2行
df.head (2)
# print(df.head (2))
# 查看后2行
df.tail(2)

# print(df.tail(2))

   序列     时间        资产        负债     所有者权益  资产负债率
y   2  8月31日  23500000  10575000  12925000   0.45
z   3  9月30日  24320000  10214400  14105600   0.42

In [9]:
# 引入规则
import numpy as np
import pandas as pd

# 创建DataFrame
data = np.arange(1000,16000,1000).reshape(5,3)
df = pd.DataFrame(data)
# df

# 在第一列插入营业收入
df.insert(0,'营业收入',value=50000)
df
            
# 依次修改列名
df.rename(columns={0:'销售费用',1:'管理费用',2:'财务费用'},inplace=True)
            
# 删除最后一行
df.drop(4,inplace=True)
            
# 打印输出
df
# print(df)

    营业收入   销售费用   管理费用   财务费用
0  50000   1000   2000   3000
1  50000   4000   5000   6000
2  50000   7000   8000   9000
3  50000  10000  11000  12000

In [3]:
# 引入pandas
import pandas as pd

#创建Series:不指定索引,默认原始索引
a = pd.Series([11,12,13,14])

#打印输出a
print(a)

#打印输出a的第一个元素
print(a[0])

# 指定索引:
b = pd.Series([21,22,23,24],index=[1,2,3,4])

# 打印输出
print(b)

#打印输出b的第一个元素
print(b[1])

0    11
1    12
2    13
3    14
dtype: int64
11
1    21
2    22
3    23
4    24
dtype: int64
21

In [2]:
import pandas as pd

data = [[1,2,3,4],[7,8,9,10],[11,12,13,14]]

df = pd.DataFrame(data) 

df

# print(df)

    0   1   2   3
0   1   2   3   4
1   7   8   9  10
2  11  12  13  14

In [4]:
# 引入pandas
import pandas as pd

# 创建二维列表
data= [['7月31日',18400000,7360000,11040000],
       ['9月30日',24320000,10214400,14105600],
       ['8月31日',23500000,10575000,12925000]]

# 创建DataFrame
df = pd.DataFrame(data,columns=['时间','资产总额','负债总额','所有者权益总额'],index=range(1,4))

# 打印输出
df

# print(df)

      时间      资产总额      负债总额   所有者权益总额
1  7月31日  18400000   7360000  11040000
2  9月30日  24320000  10214400  14105600
3  8月31日  23500000  10575000  12925000

In [6]:
#引入pandas
import pandas as pd

# 创建字典
data ={'时间':['7月31日','8月31日','9月30日'],
       '资产总额':[18400000,23500000,24320000],
       '负债总额':[7360000,10575000,10214400],
       '所有者权益总额':[11040000,12925000,14105600]}

#创建DataFrame
df = pd.DataFrame(data,index = range(1,4))

# 打印输出
df

# print(df)
#查看前2行
df.head (2)
# print(df.head (2))
# 查看后2行
df.tail(2)

# print(df.tail(2))

      时间      资产总额      负债总额   所有者权益总额
2  8月31日  23500000  10575000  12925000
3  9月30日  24320000  10214400  14105600

In [7]:
#例题：说明: data = np.arange (1000, 16000, 1000).reshape(5,3)要求：根据二维数组data创建DataFrame，并依次完成以下任务：1、使用insert()函数在第一列的位置插入列，列名为“营业收入”、值为50000；2、使用rename()函数在原数据上修改列名，从左到右列名为：营业收入、销售费用、管理费用、财务费用；3、使用drop()函数在原数据上删除最后一行。
# 引入规则
import numpy as np
import pandas as pd
# 创建DataFrame
data = np.arange(1000,16000,1000).reshape(5,3)
df = pd.DataFrame(data)
# df
# 在第一列插入营业收入
df.insert(0,'营业收入',value=50000)
df            
# 依次修改列名
df.rename(columns={0:'销售费用',1:'管理费用',2:'财务费用'},inplace=True)            
# 删除最后一行
df.drop(4,inplace=True)            
# 打印输出
df
# print(df)

    营业收入   销售费用   管理费用   财务费用
0  50000   1000   2000   3000
1  50000   4000   5000   6000
2  50000   7000   8000   9000
3  50000  10000  11000  12000

In [15]:
#引入pandas 
import pandas as pd

# 读取本地Excel文件
#df = pd.read_excel('data.xlsx',converters = {'年':str,'月':str})


# df = pd.read_excel(r'E:\data.xlsx',converters = {'年':str,'月':str})


df = pd.read_excel('E:/data.xlsx',converters = {'年':str,'月':str})
                   
#展示df前5行
df.head (5)

      年  月       流动资产       非流动资产       流动负债    非流动负债       所有者权益
0  2021  1  644977.56  3780673.82  572266.12  2120000  1733385.26
1  2021  2  668209.90  3820905.96  584387.34  2120000  1784728.52
2  2021  3  675872.23  3872786.78  607200.23  2120000  1821458.78
3  2021  4  692674.56  4105445.53  610013.12  2324750  1863356.97
4  2021  5  707906.90  4176813.56  642826.01  2324750  1917144.45

In [16]:
#计算平均资产合计与平均负债合计
df['资产合计'] = df['流动资产']+df['非流动资产']
df['负债合计'] = df['流动负债']+df['非流动负债']

#展示df前5行
df.head (5)

,年,月,流动资产,非流动资产,流动负债,非流动负债,所有者权益,资产合计,负债合计
0,2021,1,644977.56,3780673.82,572266.12,2120000,1733385.26,4425651.38,2692266.12
1,2021,2,668209.90,3820905.96,584387.34,2120000,1784728.52,4489115.86,2704387.34
2,2021,3,675872.23,3872786.78,607200.23,2120000,1821458.78,4548659.01,2727200.23
3,2021,4,692674.56,4105445.53,610013.12,2324750,1863356.97,4798120.09,2934763.12
4,2021,5,707906.90,4176813.56,642826.01,2324750,1917144.45,4884720.46,2967576.01

In [18]:
# 导出一个新的表格,写入到excel文件，并将文件命名为'data11'，工作表命名为 '资产负债表项目'

df.to_excel('E:/data11.xlsx',sheet_name='资产负债表项目')

In [19]:
# 引入库
import pandas as pd

#读取csv文件
df_csv = pd.read_csv('https://keyun-oss.acctedu.com/app/bigdata/2021/company/year/zcfzb_300761.csv')
        
# 打印输出
df_csv
# 写入csv文件
df_csv.to_csv('zcfzb_300761.csv')
# 引入库
import pandas as pd

# 读取json文件
df_json = pd.read_json('https://keyun-oss.acctedu.com/app/bigdata/2021/block/hy002000.json')

# 打印输出
# print(df_json)
df_json
# 写入json文件
# 设置force_ascii=False显示中文

df_json.to_json('hy002000.json',force_ascii=False)

In [21]:
# 引入库
import pandas as pd

#读取xlsx文件
df = pd.read_excel ('E:/data.xlsx',converters = {'年':str,'月':str})

# 打印输出
df.head(5)
# 前5行数据

df["流动资产"].head()
#输出查询结果前5行数据

df1=df[["年",'月',"流动资产","流动负债"]].head(5)
df1
#输出查询结果前5行数据

df[0:6]

      年  月       流动资产       非流动资产       流动负债    非流动负债       所有者权益
0  2021  1  644977.56  3780673.82  572266.12  2120000  1733385.26
1  2021  2  668209.90  3820905.96  584387.34  2120000  1784728.52
2  2021  3  675872.23  3872786.78  607200.23  2120000  1821458.78
3  2021  4  692674.56  4105445.53  610013.12  2324750  1863356.97
4  2021  5  707906.90  4176813.56  642826.01  2324750  1917144.45
5  2021  6  728139.23  4182102.13  625638.89  2324750  1959852.47

In [ ]:
import pandas as pd

#读取xlsx文件
df = pd.read_excel ('data.xlsx',converters = {'年':str,'月':str})

# 打印输出
df.head(5)
# 使用print输出流动资产列前5行数据

df["流动资产"].head()
#输出查询结果前5行数据

df1=df[["年",'月',"流动资产","流动负债"]].head(5)
df1
#输出查询结果前10行数据

df[0:10]
具体方式：①单列布尔选择：df[df['列']==条件]，选取某列满足一定条件的行；②多列布尔选择：df[(df['列1']==条件)&(df['列2']>条件)]，选取多列满足一定条件的行。注意：索引列表中可以使用&、|、~操作符，但是不能使用and、or、not关键词；
布尔选择的结果还是DataFrame，所以对于结果可以进行切片、索引器等访问。
# 单列布尔选择**：df[(df['列']==条件)]
df[df['所有者权益']>2000000]
# 多列布尔选择**：df[(df['列1']==条件)&(df['列2']>条件)]
df[(df['年']=='2021')&(df['流动资产']<700000)]

In [ ]:
loc索引器具体方式:

①选择单行/多行数据: df.loc['行']、df.loc[['行1','行2']]；

②选择多行多列数据： df.loc[['行1','行2'],['列1','列2']]，通过两个列表选取行列组合；

③loc布尔选择: df.loc[(df['列']>条件)],按条件选取单列（多列）满足一定条件的行；

④loc切片(选择连续的多行多列): df.loc['行1':'行2','列1':'列2'],通过**切片选取连续**的行列组合。
老师说：# （a） 选择单行/多行数据：df.loc[’行’]、df.loc[[’行1’,’行2’]]
df.loc[[2,4,6]]   # 注意：多行以列表[2,4,6]形式呈现
老师说：# （b） 选择多行多列数据： df. loc[['行1','行2']，['列1','列2']]，通过两个列表选取行列组合
df.loc[[2,4,6,8],['年','月','流动负债','所有者权益']]
老师说：# （c） loc布尔选择: df.loc[(df['列']>条件)],按条件选取单列（多列）满足一定条件的行
df.loc[df['流动负债']>100000,['年','月','流动资产','流动负债','所有者权益']]
老师说：# （d） loc切片（选择连续多行多列） ：df.loc[’行1':'行2','列1':'列2']，通过切片选取
df.loc[1:10, '流动资产':'非流动负债']

In [2]:
# 引入库
import pandas as pd

#读取xlsx文件
df = pd.read_excel ('E:\data.xlsx',sheet_name="利润表项目",converters = {'年':str,'月':str})

# 打印输出
df
# 方法一：通过循环语句逐个取出净利率进行条件判断。

# 计算净利率
df['净利率'] = df['净利润']/df['营业收入']

df.head()

# 循环取出指标判断
for i in df.index:
    df.loc[i,'业绩评价']='达标' if df.loc[i,'净利率']>0.2 else '不达标'
    
# 查看计算结果
df.head()
# 引入库
import pandas as pd

#读取xlsx文件
df = pd.read_excel ('E:\data.xlsx',sheet_name="利润表项目",converters = {'年':str,'月':str})

# 计算净利率
df['净利率'] = df['净利润']/df['营业收入']

df.head()
# 传入匿名函数（lambda表达式与三元运算符连用，回顾1.8函数部分）
df['业绩评价'] = df['净利率'].map(lambda x :'达标'if x>0.2 else '不达标')

df.head()
# Series.map（dict），传入字典
df['是否发放奖金'] = df['业绩评价'].map({'达标':'发放','不达标':'不发放'})

df.head()

      年  月    营业收入       营业成本       净利润     净利率 业绩评价 是否发放奖金
0  2021  1  274400  168756.00  55401.36  0.2019   达标     发放
1  2021  2  329800  203816.40  64179.08  0.1946  不达标    不发放
2  2021  3  248850  155630.79  45912.83  0.1845  不达标    不发放
3  2021  4  285410  181235.35  52372.74  0.1835  不达标    不发放
4  2021  5  294500  172282.50  67234.35  0.2283   达标     发放

In [4]:
# 引入库
import pandas as pd

#读取xlsx文件
df = pd.read_excel ('E:\data.xlsx',sheet_name="利润表项目",converters = {'年':str,'月':str})
# Series.apply(function, args)函数
# 自定义函数
def f(x, y):
    return x+y

#每月营业收入调增1000
df['营业收入'] = df['营业收入'].apply(f, args=(1000,))    # args参数接收元组

df.head()
# 使用apply函数将营业收入、营业成本、净利润以“万元”为单位展示
df1 = df[['营业收入','营业成本','净利润']].apply(lambda x: round(x/10000,2))
df1


# 计算净利率
df['净利率'] = df['净利润']/df['营业收入']
df.head()

# 循环取出指标判断
for i in df.index:
    df.loc[i,'业绩评价']='达标' if df.loc[i,'净利率']>0.2 else '不达标'
# 查看计算结果
df.head()
# Series.map（dict），传入字典
df['是否发放奖金'] = df['业绩评价'].map({'达标':'发放','不达标':'不发放'})
df.head()
# 参数axis=1时，逐行运算
#自定义函数计算奖金:参数x指dataFrame中任一行
def calcBonus(x):
    if x['是否发放奖金'] == '发放':
        x['奖金额'] = x['净利润']*0.1
    else:
        x['奖金额'] = 0
    return x

# DataFrame.apply (axis=1)，参数x指dataFrame中任一行
df.apply(calcBonus,axis=1).head()
# 引入pandas
import pandas as pd

#创建Series:不指定索引,默认原始索引
a = pd.Series([11,12,13])

#打印输出a
print(a)

#打印输出a的第一个元素，Series[索引]
print(a[0])

# 自定义索引:
b = pd.Series([11,12,13],index=['资产','负债','所有者权益'])

# #打印输出
print(b)

#打印输出b的第一个元素，Series[索引]
print(b['资产'])

# 对每个元素执行指定操作，元素前加上“#”
# 显示前五行
df.applymap(lambda x: '#'+str(x)).head()

# 显示后五行
# df.applymap(lambda x: '#'+str(x)).tail()

0    11
1    12
2    13
dtype: int64
11
资产       11
负债       12
所有者权益    13
dtype: int64
11

,年,月,营业收入,营业成本,净利润,净利率,业绩评价,是否发放奖金
0,#2021,#1,#275400,#168756.0,#55401.36,#0.20116688453159043,#达标,#发放
1,#2021,#2,#330800,#203816.4,#64179.08,#0.19401172914147521,#不达标,#不发放
2,#2021,#3,#249850,#155630.79,#45912.83,#0.1837615769461677,#不达标,#不发放
3,#2021,#4,#286410,#181235.35,#52372.74,#0.1828593275374463,#不达标,#不发放
4,#2021,#5,#295500,#172282.5,#67234.35,#0.2275274111675127,#达标,#发放

In [2]:
# 读取利润表项目
# 引入库
import pandas as pd

#读取xlsx文件
df = pd.read_excel ('E:\data.xlsx',sheet_name="利润表项目",converters = {'年':str,'月':str})

# 打印输出
df.head()
# 统计每列元素个数
print(df.count())

# 统计每行元素个数
print(df.count(axis=1).head())

# 统计某列元素个数,通过列索引取出某一列
print(df['月'].count())
# 查看df统计信息，默认统计数值列的相关描述性指标
df.describe()

年       24
月       24
营业收入    24
营业成本    24
净利润     24
dtype: int64
0    5
1    5
2    5
3    5
4    5
dtype: int64
24

                营业收入           营业成本          净利润
count      24.000000      24.000000     24.00000
mean   337040.000000  210628.488333  63897.88000
std     45327.390222   30427.162225  10580.68317
min    248850.000000  155630.790000  45912.83000
25%    308675.000000  191006.562500  55033.37000
50%    325900.000000  205720.200000  63383.14000
75%    375275.000000  233922.550000  70726.81500
max    424000.000000  266484.000000  87133.20000

In [7]:
# 读取利润表项目
# 引入库
import pandas as pd
#读取xlsx文件
df = pd.read_excel ('E:\data.xlsx',sheet_name="利润表项目",converters = {'年':str,'月':str})
#计算环比增长率,并展示结果前5行
df.set_index(['年','月']).pct_change()
# 要求：计算2021年各期”营业收入、营业成本、净利润”的本年累计金额。
df.cumsum()
df.set_index (['年','月']).cumsum()
df1 = df.loc[df['年']=='2021'].set_index (['年','月']).cumsum()       # 2021年各列累计和
# df1 = df.loc[df['年']=='2021'].set_index (['年','月']).cumprod()       # 2021年各列累计乘积
# df1 = df.loc[df['年']=='2021'].set_index (['年','月']).cummax()        # 2021年各列累计最大值
# df1 = df.loc[df['年']=='2021'].set_index (['年','月']).cummin()         # 2021年各列累计最小值
df1
# 要求:按照净利润降序排序
# df2 = df.sort_values(by='营业收入')                      # 默认为升序
# df2 = df.sort_values(by='营业收入',ascending=False)    # 指定参数ascending=False，降序排列
df2 = df.sort_values(by='营业收入',ascending=False,ignore_index=True) 
df2
# 按照行索引升序排序
df3 = df.sort_index()
df3
# 按照行索引降序排序，指定参数ascending=False
df4 = df.sort_index(ascending=False)
df4

       年   月    营业收入       营业成本       净利润
23  2022  12  401200  264069.84  62587.20
22  2022  11  343500  221557.50  59391.15
21  2022  10  354820  220839.97  69012.49
20  2022   9  392000  240884.00  78282.40
19  2022   8  424000  266484.00  79076.00
18  2022   7  401200  255524.28  69969.28
17  2022   6  384200  237627.70  75264.78
16  2022   5  322000  175329.00  87133.20
15  2022   4  372300  232687.50  71742.21
14  2022   3  354780  218331.61  70388.35
13  2022   2  388000  243664.00  74108.00
12  2022   1  345700  212743.78  67411.50
11  2021  12  313800  202087.20  53565.66
10  2021  11  309350  197365.30  55342.72
9   2021  10  306650  191042.95  59582.10
8   2021   9  309350  196437.25  54105.32
7   2021   8  315550  198165.40  57556.32
6   2021   7  316500  207624.00  50545.05
5   2021   6  301100  190897.40  53385.03
4   2021   5  294500  172282.50  67234.35
3   2021   4  285410  181235.35  52372.74
2   2021   3  248850  155630.79  45912.83
1   2021   2  329800  203816.40  64179.08
0   2021   1  274400  168756.00  55401.36

In [9]:
import pandas as pd
#读取资产负债表项目
df1 = pd.read_excel('E:\data.xlsx',sheet_name = 0,converters = {'年':str,'月':str})
# df1.head()
# 读取利润表项目
df2 = pd.read_excel('E:\data.xlsx',sheet_name = 1,converters = {'年':str,'月':str})
# df2.head()
# 调用merge函数连接df1、df2
df3 = pd.merge(df1,df2)
df3

,年,月,流动资产,非流动资产,流动负债,非流动负债,所有者权益,营业收入,营业成本,净利润
0,2021,1,644977.56,3780673.82,572266.12,2120000,1733385.26,274400,168756.00,55401.36
1,2021,2,668209.90,3820905.96,584387.34,2120000,1784728.52,329800,203816.40,64179.08
2,2021,3,675872.23,3872786.78,607200.23,2120000,1821458.78,248850,155630.79,45912.83
3,2021,4,692674.56,4105445.53,610013.12,2324750,1863356.97,285410,181235.35,52372.74
4,2021,5,707906.90,4176813.56,642826.01,2324750,1917144.45,294500,172282.50,67234.35
5,2021,6,728139.23,4182102.13,625638.89,2324750,1959852.47,301100,190897.40,53385.03
6,2021,7,746371.57,4187118.72,608451.78,2324750,2000288.51,316500,207624.00,50545.05
7,2021,8,755603.90,4246744.34,631264.67,2324750,2046333.57,315550,198165.40,57556.32
8,2021,9,762836.23,4305609.15,654077.56,2324750,2089617.82,309350,196437.25,54105.32
9,2021,10,781868.56,4347055.39,666890.45,2324750,2137283.50,306650,191042.95,59582.10
10,2021,11,807300.90,4388710.10,689703.33,2324750,2181557.67,309350,197365.30,55342.72
11,2021,12,845098.81,4406577.61,702516.22,2324750,2224410.20,313800,202087.20,53565.66
12,2022,1,862331.14,4463196.41,722438.15,2324750,2278339.40,345700,212743.78,67411.50
13,2022,2,875863.47,4527822.41,741310.08,2324750,2337625.80,388000,243664.00,74108.00
14,2022,3,890295.86,4560872.63,732482.01,2324750,2393936.48,354780,218331.61,70388.35
15,2022,4,906228.14,4449606.04,784503.93,2120000,2451330.25,372300,232687.50,71742.21
16,2022,5,921160.48,4522002.19,802125.86,2120000,2521036.81,322000,175329.00,87133.20
17,2022,6,946492.81,4636803.61,882047.79,2120000,2581248.63,384200,237627.70,75264.78
18,2022,7,953725.14,5655468.63,851969.72,3120000,2637224.05,401200,255524.28,69969.28
19,2022,8,968857.48,5773519.02,921891.65,3120000,2700484.85,424000,266484.00,79076.00
20,2022,9,982145.51,5852778.83,951813.57,3120000,2763110.77,392000,240884.00,78282.40
21,2022,10,998422.15,5841634.12,901735.50,3120000,2818320.77,354820,220839.97,69012.49
22,2022,11,1022654.48,5904836.64,941657.43,3120000,2865833.69,343500,221557.50,59391.15
23,2022,12,1047886.81,5959596.00,971579.36,3120000,2915903.45,401200,264069.84,62587.20

In [7]:
import pandas as pd
#读取资产负债表项目
df1 = pd.read_excel('E:\data.xlsx',sheet_name = 0,converters = {'年':str,'月':str})
# df1.head()
# 读取利润表项目
df2 = pd.read_excel('E:\data.xlsx',sheet_name = 1,converters = {'年':str,'月':str})
#### 默认axis=0，纵向合并(行拼接)，拼接后的表格：
#### index = index (df1)+index (df2)→直接累加
#### columns = columns (df1) Ucolumns (df2)→ 累加去重
# concat函数横向合并
df5 =pd.concat([df1,df2],axis=1)
# 展示df5前5行
df5
### 提示：axis=1，横向合并(列拼接)，拼接后的表格：columns = columns (df1)+columns(df2)→直接累加;index = index(df1) U index(df2)→累加去重
#axis=0 是“跨行”操作，作用于列；axis=1 是“跨列”操作，作用于行。
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})
df
# 1. axis=0：按行操作（纵向）,作用于列,每一列求平均值，沿着行方向。
df.mean(axis=0)
# 2. axis=1：按列操作（横向）,作用于行,对每一行求平均值，沿着列方向
df.mean(axis=1)

0    4.0
1    5.0
2    6.0
dtype: float64

In [8]:
# 要求：使用concat()函数将data.xlsx中的资产负债表项目和利润表项目进行纵向合并
import pandas as pd
#读取资产负债表项目
df1 = pd.read_excel('E:\data.xlsx',sheet_name = 0,converters = {'年':str,'月':str})
# df1.head()
# 读取利润表项目
df2 = pd.read_excel('E:\data.xlsx',sheet_name = 1,converters = {'年':str,'月':str})
# concat函数纵向合并
df4 = pd.concat([df1,df2])
# 展示df4行索引21及以后的行
df4
### 提示：
#### 默认axis=0，纵向合并(行拼接)，拼接后的表格：
#### index = index (df1)+index (df2)→直接累加
#### columns = columns (df1) Ucolumns (df2)→ 累加去重

,年,月,流动资产,非流动资产,流动负债,非流动负债,所有者权益,营业收入,营业成本,净利润
0,2021,1,644977.56,3780673.82,572266.12,2120000.0,1733385.26,NaN,NaN,NaN
1,2021,2,668209.90,3820905.96,584387.34,2120000.0,1784728.52,NaN,NaN,NaN
2,2021,3,675872.23,3872786.78,607200.23,2120000.0,1821458.78,NaN,NaN,NaN
3,2021,4,692674.56,4105445.53,610013.12,2324750.0,1863356.97,NaN,NaN,NaN
4,2021,5,707906.90,4176813.56,642826.01,2324750.0,1917144.45,NaN,NaN,NaN
5,2021,6,728139.23,4182102.13,625638.89,2324750.0,1959852.47,NaN,NaN,NaN
6,2021,7,746371.57,4187118.72,608451.78,2324750.0,2000288.51,NaN,NaN,NaN
7,2021,8,755603.90,4246744.34,631264.67,2324750.0,2046333.57,NaN,NaN,NaN
8,2021,9,762836.23,4305609.15,654077.56,2324750.0,2089617.82,NaN,NaN,NaN
9,2021,10,781868.56,4347055.39,666890.45,2324750.0,2137283.50,NaN,NaN,NaN
10,2021,11,807300.90,4388710.10,689703.33,2324750.0,2181557.67,NaN,NaN,NaN
11,2021,12,845098.81,4406577.61,702516.22,2324750.0,2224410.20,NaN,NaN,NaN
12,2022,1,862331.14,4463196.41,722438.15,2324750.0,2278339.40,NaN,NaN,NaN
13,2022,2,875863.47,4527822.41,741310.08,2324750.0,2337625.80,NaN,NaN,NaN
14,2022,3,890295.86,4560872.63,732482.01,2324750.0,2393936.48,NaN,NaN,NaN
15,2022,4,906228.14,4449606.04,784503.93,2120000.0,2451330.25,NaN,NaN,NaN
16,2022,5,921160.48,4522002.19,802125.86,2120000.0,2521036.81,NaN,NaN,NaN
17,2022,6,946492.81,4636803.61,882047.79,2120000.0,2581248.63,NaN,NaN,NaN
18,2022,7,953725.14,5655468.63,851969.72,3120000.0,2637224.05,NaN,NaN,NaN
19,2022,8,968857.48,5773519.02,921891.65,3120000.0,2700484.85,NaN,NaN,NaN
20,2022,9,982145.51,5852778.83,951813.57,3120000.0,2763110.77,NaN,NaN,NaN
21,2022,10,998422.15,5841634.12,901735.50,3120000.0,2818320.77,NaN,NaN,NaN
22,2022,11,1022654.48,5904836.64,941657.43,3120000.0,2865833.69,NaN,NaN,NaN
23,2022,12,1047886.81,5959596.00,971579.36,3120000.0,2915903.45,NaN,NaN,NaN
0,2021,1,NaN,NaN,NaN,NaN,NaN,274400.0,168756.00,55401.36
1,2021,2,NaN,NaN,NaN,NaN,NaN,329800.0,203816.40,64179.08
2,2021,3,NaN,NaN,NaN,NaN,NaN,248850.0,155630.79,45912.83
3,2021,4,NaN,NaN,NaN,NaN,NaN,285410.0,181235.35,52372.74
4,2021,5,NaN,NaN,NaN,NaN,NaN,294500.0,172282.50,67234.35
5,2021,6,NaN,NaN,NaN,NaN,NaN,301100.0,190897.40,53385.03
6,2021,7,NaN,NaN,NaN,NaN,NaN,316500.0,207624.00,50545.05
7,2021,8,NaN,NaN,NaN,NaN,NaN,315550.0,198165.40,57556.32
8,2021,9,NaN,NaN,NaN,NaN,NaN,309350.0,196437.25,54105.32
9,2021,10,NaN,NaN,NaN,NaN,NaN,306650.0,191042.95,59582.10
10,2021,11,NaN,NaN,NaN,NaN,NaN,309350.0,197365.30,55342.72
11,2021,12,NaN,NaN,NaN,NaN,NaN,313800.0,202087.20,53565.66
12,2022,1,NaN,NaN,NaN,NaN,NaN,345700.0,212743.78,67411.50
13,2022,2,NaN,NaN,NaN,NaN,NaN,388000.0,243664.00,74108.00
14,2022,3,NaN,NaN,NaN,NaN,NaN,354780.0,218331.61,70388.35
15,2022,4,NaN,NaN,NaN,NaN,NaN,372300.0,232687.50,71742.21
16,2022,5,NaN,NaN,NaN,NaN,NaN,322000.0,175329.00,87133.20
17,2022,6,NaN,NaN,NaN,NaN,NaN,384200.0,237627.70,75264.78
18,2022,7,NaN,NaN,NaN,NaN,NaN,401200.0,255524.28,69969.28
19,2022,8,NaN,NaN,NaN,NaN,NaN,424000.0,266484.00,79076.00
20,2022,9,NaN,NaN,NaN,NaN,NaN,392000.0,240884.00,78282.40
21,2022,10,NaN,NaN,NaN,NaN,NaN,354820.0,220839.97,69012.49
22,2022,11,NaN,NaN,NaN,NaN,NaN,343500.0,221557.50,59391.15
23,2022,12,NaN,NaN,NaN,NaN,NaN,401200.0,264069.84,62587.20

In [9]:
# 要求：使用concat（）函数将data.xlsx中的资产负债表项目和利润表项目进行横向合并。
# concat函数横向合并
df5 =pd.concat([df1,df2],axis=1)
# 展示df5前5行
df5
### 提示：
#### axis=1，横向合并(列拼接)，拼接后的表格：
#### columns = columns (df1)+columns(df2)→直接累加
#### index = index(df1) U index(df2)→累加去重

,年,月,流动资产,非流动资产,流动负债,非流动负债,所有者权益,年,月,营业收入,营业成本,净利润
0,2021,1,644977.56,3780673.82,572266.12,2120000,1733385.26,2021,1,274400,168756.00,55401.36
1,2021,2,668209.90,3820905.96,584387.34,2120000,1784728.52,2021,2,329800,203816.40,64179.08
2,2021,3,675872.23,3872786.78,607200.23,2120000,1821458.78,2021,3,248850,155630.79,45912.83
3,2021,4,692674.56,4105445.53,610013.12,2324750,1863356.97,2021,4,285410,181235.35,52372.74
4,2021,5,707906.90,4176813.56,642826.01,2324750,1917144.45,2021,5,294500,172282.50,67234.35
5,2021,6,728139.23,4182102.13,625638.89,2324750,1959852.47,2021,6,301100,190897.40,53385.03
6,2021,7,746371.57,4187118.72,608451.78,2324750,2000288.51,2021,7,316500,207624.00,50545.05
7,2021,8,755603.90,4246744.34,631264.67,2324750,2046333.57,2021,8,315550,198165.40,57556.32
8,2021,9,762836.23,4305609.15,654077.56,2324750,2089617.82,2021,9,309350,196437.25,54105.32
9,2021,10,781868.56,4347055.39,666890.45,2324750,2137283.50,2021,10,306650,191042.95,59582.10
10,2021,11,807300.90,4388710.10,689703.33,2324750,2181557.67,2021,11,309350,197365.30,55342.72
11,2021,12,845098.81,4406577.61,702516.22,2324750,2224410.20,2021,12,313800,202087.20,53565.66
12,2022,1,862331.14,4463196.41,722438.15,2324750,2278339.40,2022,1,345700,212743.78,67411.50
13,2022,2,875863.47,4527822.41,741310.08,2324750,2337625.80,2022,2,388000,243664.00,74108.00
14,2022,3,890295.86,4560872.63,732482.01,2324750,2393936.48,2022,3,354780,218331.61,70388.35
15,2022,4,906228.14,4449606.04,784503.93,2120000,2451330.25,2022,4,372300,232687.50,71742.21
16,2022,5,921160.48,4522002.19,802125.86,2120000,2521036.81,2022,5,322000,175329.00,87133.20
17,2022,6,946492.81,4636803.61,882047.79,2120000,2581248.63,2022,6,384200,237627.70,75264.78
18,2022,7,953725.14,5655468.63,851969.72,3120000,2637224.05,2022,7,401200,255524.28,69969.28
19,2022,8,968857.48,5773519.02,921891.65,3120000,2700484.85,2022,8,424000,266484.00,79076.00
20,2022,9,982145.51,5852778.83,951813.57,3120000,2763110.77,2022,9,392000,240884.00,78282.40
21,2022,10,998422.15,5841634.12,901735.50,3120000,2818320.77,2022,10,354820,220839.97,69012.49
22,2022,11,1022654.48,5904836.64,941657.43,3120000,2865833.69,2022,11,343500,221557.50,59391.15
23,2022,12,1047886.81,5959596.00,971579.36,3120000,2915903.45,2022,12,401200,264069.84,62587.20

In [10]:
import pandas as pd
# 左表
df_l = pd.DataFrame({'资产':[1000,1200],'负债':[200,300]})
df_l
# 右表
df_r= pd.DataFrame({'收入':[1000,1200],'成本':[200,400]})
df_r
# join连接无重复列名的DataFrame
df_l.join(df_r)
# 以下语法错误:pd.join(df_l,df_r);pd.join([df_l,df_r])

     资产   负债    收入   成本
0  1000  200  1000  200
1  1200  300  1200  400

In [11]:
# 要求：使用join() 函数将data.xlsx中的资产负债表项目和利润表项目进行横向合并。
# join()函数横向连接,必须将右表相同列名设置为索引,与merge()函数结果一致
df6 = df1.join(df2.set_index(['年','月']),on=['年','月'])
df6.head()

,年,月,流动资产,非流动资产,流动负债,非流动负债,所有者权益,营业收入,营业成本,净利润
0,2021,1,644977.56,3780673.82,572266.12,2120000,1733385.26,274400,168756.00,55401.36
1,2021,2,668209.90,3820905.96,584387.34,2120000,1784728.52,329800,203816.40,64179.08
2,2021,3,675872.23,3872786.78,607200.23,2120000,1821458.78,248850,155630.79,45912.83
3,2021,4,692674.56,4105445.53,610013.12,2324750,1863356.97,285410,181235.35,52372.74
4,2021,5,707906.90,4176813.56,642826.01,2324750,1917144.45,294500,172282.50,67234.35

In [12]:
# 要求：使用append（）函数将data.xlsx中的资产负债表项目和利润表项目进行纵向合并。
# append函数纵向合并
df7 = df1.append(df2)
# 展示df7
df7

,年,月,流动资产,非流动资产,流动负债,非流动负债,所有者权益,营业收入,营业成本,净利润
0,2021,1,644977.56,3780673.82,572266.12,2120000.0,1733385.26,NaN,NaN,NaN
1,2021,2,668209.90,3820905.96,584387.34,2120000.0,1784728.52,NaN,NaN,NaN
2,2021,3,675872.23,3872786.78,607200.23,2120000.0,1821458.78,NaN,NaN,NaN
3,2021,4,692674.56,4105445.53,610013.12,2324750.0,1863356.97,NaN,NaN,NaN
4,2021,5,707906.90,4176813.56,642826.01,2324750.0,1917144.45,NaN,NaN,NaN
5,2021,6,728139.23,4182102.13,625638.89,2324750.0,1959852.47,NaN,NaN,NaN
6,2021,7,746371.57,4187118.72,608451.78,2324750.0,2000288.51,NaN,NaN,NaN
7,2021,8,755603.90,4246744.34,631264.67,2324750.0,2046333.57,NaN,NaN,NaN
8,2021,9,762836.23,4305609.15,654077.56,2324750.0,2089617.82,NaN,NaN,NaN
9,2021,10,781868.56,4347055.39,666890.45,2324750.0,2137283.50,NaN,NaN,NaN
10,2021,11,807300.90,4388710.10,689703.33,2324750.0,2181557.67,NaN,NaN,NaN
11,2021,12,845098.81,4406577.61,702516.22,2324750.0,2224410.20,NaN,NaN,NaN
12,2022,1,862331.14,4463196.41,722438.15,2324750.0,2278339.40,NaN,NaN,NaN
13,2022,2,875863.47,4527822.41,741310.08,2324750.0,2337625.80,NaN,NaN,NaN
14,2022,3,890295.86,4560872.63,732482.01,2324750.0,2393936.48,NaN,NaN,NaN
15,2022,4,906228.14,4449606.04,784503.93,2120000.0,2451330.25,NaN,NaN,NaN
16,2022,5,921160.48,4522002.19,802125.86,2120000.0,2521036.81,NaN,NaN,NaN
17,2022,6,946492.81,4636803.61,882047.79,2120000.0,2581248.63,NaN,NaN,NaN
18,2022,7,953725.14,5655468.63,851969.72,3120000.0,2637224.05,NaN,NaN,NaN
19,2022,8,968857.48,5773519.02,921891.65,3120000.0,2700484.85,NaN,NaN,NaN
20,2022,9,982145.51,5852778.83,951813.57,3120000.0,2763110.77,NaN,NaN,NaN
21,2022,10,998422.15,5841634.12,901735.50,3120000.0,2818320.77,NaN,NaN,NaN
22,2022,11,1022654.48,5904836.64,941657.43,3120000.0,2865833.69,NaN,NaN,NaN
23,2022,12,1047886.81,5959596.00,971579.36,3120000.0,2915903.45,NaN,NaN,NaN
0,2021,1,NaN,NaN,NaN,NaN,NaN,274400.0,168756.00,55401.36
1,2021,2,NaN,NaN,NaN,NaN,NaN,329800.0,203816.40,64179.08
2,2021,3,NaN,NaN,NaN,NaN,NaN,248850.0,155630.79,45912.83
3,2021,4,NaN,NaN,NaN,NaN,NaN,285410.0,181235.35,52372.74
4,2021,5,NaN,NaN,NaN,NaN,NaN,294500.0,172282.50,67234.35
5,2021,6,NaN,NaN,NaN,NaN,NaN,301100.0,190897.40,53385.03
6,2021,7,NaN,NaN,NaN,NaN,NaN,316500.0,207624.00,50545.05
7,2021,8,NaN,NaN,NaN,NaN,NaN,315550.0,198165.40,57556.32
8,2021,9,NaN,NaN,NaN,NaN,NaN,309350.0,196437.25,54105.32
9,2021,10,NaN,NaN,NaN,NaN,NaN,306650.0,191042.95,59582.10
10,2021,11,NaN,NaN,NaN,NaN,NaN,309350.0,197365.30,55342.72
11,2021,12,NaN,NaN,NaN,NaN,NaN,313800.0,202087.20,53565.66
12,2022,1,NaN,NaN,NaN,NaN,NaN,345700.0,212743.78,67411.50
13,2022,2,NaN,NaN,NaN,NaN,NaN,388000.0,243664.00,74108.00
14,2022,3,NaN,NaN,NaN,NaN,NaN,354780.0,218331.61,70388.35
15,2022,4,NaN,NaN,NaN,NaN,NaN,372300.0,232687.50,71742.21
16,2022,5,NaN,NaN,NaN,NaN,NaN,322000.0,175329.00,87133.20
17,2022,6,NaN,NaN,NaN,NaN,NaN,384200.0,237627.70,75264.78
18,2022,7,NaN,NaN,NaN,NaN,NaN,401200.0,255524.28,69969.28
19,2022,8,NaN,NaN,NaN,NaN,NaN,424000.0,266484.00,79076.00
20,2022,9,NaN,NaN,NaN,NaN,NaN,392000.0,240884.00,78282.40
21,2022,10,NaN,NaN,NaN,NaN,NaN,354820.0,220839.97,69012.49
22,2022,11,NaN,NaN,NaN,NaN,NaN,343500.0,221557.50,59391.15
23,2022,12,NaN,NaN,NaN,NaN,NaN,401200.0,264069.84,62587.20

In [2]:
# 引入pandas
import pandas as pd
# 读取利润表项目
df = pd.read_excel('E:\data.xlsx',sheet_name = 1,converters= {'年':str,'月':str})
df
# 按年分组
print(df.groupby('年'))
# 使用groupby函数按“年”对data. xlsx中的利润表项目进行分组，并查看2021年数据
#查看分组,并展示结果
df.groupby('年').get_group ('2021')
#按年分组求和,并展示结果
# df.groupby('年').sum()
df.groupby('年').sum().iloc[:,-2:]
#按年分组求平均值,并展示结果
# df.groupby('年').mean()
df.groupby('年').mean().iloc[:,-3:]

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000000004EA2C70>

               营业收入           营业成本           净利润
年
2021  300438.333333  188778.378333  55765.213333
2022  373641.666667  232478.598333  72030.546667

In [3]:
# 引入pandas
import pandas as pd
# 读取利润表项目
df = pd.read_excel('E:\data.xlsx',sheet_name = 1,converters= {'年':str,'月':str})
df
#查看分组,并展示结果
df.groupby('年').get_group ('2021')
# 要求:使用groupby函数按“年”对data. xlsx中的利润表项目进行分组求和。
#按年分组求和,并展示结果
df.groupby('年').sum()
df.groupby('年').sum().iloc[:,-3:]
# 2.1 对一列使用多种聚合
# 要求：使用groupby函数按“年”对data.xlsx中的利润表项目进行分组，并统计各组“营业收入”列的平均值、合计值
df1 = df.groupby('年').agg({'营业收入': ['mean','sum']}).round (2)
df1
# 2.2 对每列使用相同的多种聚合
# 要求：使用groupby函数按“年”对data. xlsx中的利润表项目进行分组，并统计各组每列的平均值、合计值、最小值、最大值。
df2 = df.groupby('年').agg(['mean','sum','min']).round (2).iloc[:,-6:]
df2
# 2.3 对选定列使用不同的聚合
# 要求：使用groupby函数按“年”对data.xlsx中的利润表项目进行分组，并统计各组“营业收入”的最大值、“营业成本”的最小值、“净利润”的合计值
df3 = df.groupby('年').agg({'营业收入':[max,min],'营业成本':min,'净利润':[max,min]})                            
df3

        营业收入               营业成本       净利润
         max     min        min       max       min
年
2021  329800  248850  155630.79  67234.35  45912.83
2022  424000  322000  175329.00  87133.20  59391.15

In [4]:
# 引入pandas
import pandas as pd
# 读取利润表项目
df = pd.read_excel('E:\data.xlsx',sheet_name = 1,converters= {'年':str,'月':str})
df
#创建一个月份与季度对照的字典monthToQuarter
monthToQuarter = {'1':'第1季','2':'第1季','3':'第1季',
                  '4':'第2季','5':'第2季','6':'第2季',
                  '7':'第3季','8':'第3季','9':'第3季',
                  '10':'第4季','11':'第4季','12':'第4季'}

# 新增‘季度’列
df['季度'] = df['月'].map(monthToQuarter)

# df.head()
df
# 数据透视表
df1 = df.pivot_table(index='季度',columns='年',values=['营业收入','营业成本'],aggfunc='sum')
df1
df2 = df.pivot_table(index=['季度','月'],columns='年',values=['营业收入','营业成本'],aggfunc='sum')
df2
df3 = df1.stack()
df3
# df4 = df3.unstack(level=-1)
df4 = df3.unstack()
df4
df4 = df2.unstack(level=0)
df4

         营业成本                                                        \
年        2021                                        2022
季度        第1季        第2季        第3季        第4季        第1季       第2季
月
1   168756.00        NaN        NaN        NaN  212743.78       NaN
10        NaN        NaN        NaN  191042.95        NaN       NaN
11        NaN        NaN        NaN  197365.30        NaN       NaN
12        NaN        NaN        NaN  202087.20        NaN       NaN
2   203816.40        NaN        NaN        NaN  243664.00       NaN
3   155630.79        NaN        NaN        NaN  218331.61       NaN
4         NaN  181235.35        NaN        NaN        NaN  232687.5
5         NaN  172282.50        NaN        NaN        NaN  175329.0
6         NaN  190897.40        NaN        NaN        NaN  237627.7
7         NaN        NaN  207624.00        NaN        NaN       NaN
8         NaN        NaN  198165.40        NaN        NaN       NaN
9         NaN        NaN  196437.25        NaN        NaN       NaN

                              营业收入                                          \
年                             2021                                    2022
季度        第3季        第4季       第1季       第2季       第3季       第4季       第1季
月
1         NaN        NaN  274400.0       NaN       NaN       NaN  345700.0
10        NaN  220839.97       NaN       NaN       NaN  306650.0       NaN
11        NaN  221557.50       NaN       NaN       NaN  309350.0       NaN
12        NaN  264069.84       NaN       NaN       NaN  313800.0       NaN
2         NaN        NaN  329800.0       NaN       NaN       NaN  388000.0
3         NaN        NaN  248850.0       NaN       NaN       NaN  354780.0
4         NaN        NaN       NaN  285410.0       NaN       NaN       NaN
5         NaN        NaN       NaN  294500.0       NaN       NaN       NaN
6         NaN        NaN       NaN  301100.0       NaN       NaN       NaN
7   255524.28        NaN       NaN       NaN  316500.0       NaN       NaN
8   266484.00        NaN       NaN       NaN  315550.0       NaN       NaN
9   240884.00        NaN       NaN       NaN  309350.0       NaN       NaN


年
季度       第2季       第3季       第4季
月
1        NaN       NaN       NaN
10       NaN       NaN  354820.0
11       NaN       NaN  343500.0
12       NaN       NaN  401200.0
2        NaN       NaN       NaN
3        NaN       NaN       NaN
4   372300.0       NaN       NaN
5   322000.0       NaN       NaN
6   384200.0       NaN       NaN
7        NaN  401200.0       NaN
8        NaN  424000.0       NaN
9        NaN  392000.0       NaN